<div class="sn-layout__drawer sn-presentation-drawer" id="sidebar">
  <span class="sn-layout-title">
    <a href="/">
      <i class="sn-icon sn-icon__supernova--brand sn-presentation-brand"></i>
    </a>
  </span>
  <nav class="sn-navigation">
    <a class="sn-navigation__link js-current-nav" href="/react/arrow-steps">Arrow Steps</a>
    <a class="sn-navigation__link js-current-nav" href="/react/bubble-steps">Bubble Steps</a>
    <a class="sn-navigation__link js-current-nav" href="/react/alert">Alert</a>
    <a class="sn-navigation__link js-current-nav" href="/react/tabs">Tabs</a>
    <a class="sn-navigation__link js-current-nav" href="/react/modal">Modal</a>
    <a class="sn-navigation__link js-current-nav" href="/react/card">Card</a>
    <a class="sn-navigation__link js-current-nav" href="/react/tooltip">Tooltip</a>
    <a class="sn-navigation__link js-current-nav" href="/react/wizard">Wizard</a>
    <a class="sn-navigation__link js-current-nav" href="/react/pills">Pills</a>
    <a class="sn-navigation__link js-current-nav" href="/react/well">Well</a>
    <a class="sn-navigation__link js-current-nav" href="/react/form">Form</a>
    <a class="sn-navigation__link js-current-nav" href="/react/searchbox">Search Box</a>
  </nav>
</div>

<div class="sn-layout__obfuscator"></div>