<% layout('./../../layout') -%>

<% include _react_menu %>

<header class="sn-layout__header">
  <div aria-expanded="false" role="button" tabindex="0" class="sn-layout__drawer-button">
    <i class="material-icons"></i>
  </div>
  <div class="sn-layout__title-group">
    <div class="sn-layout__title-wrap">
      <span class="sn-layout__title">React</span>
    </div>  
    <div class="sn-layout__title-wrap">
      <span class="sn-layout__title">Arrow Steps</span>
    </div>
  </div>
</header>

<main class="sn-layout__content sn-presentation-layout__content">
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-top">
    <div class="sn-cell--1">
      <h3>Example</h3>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-all">
    <div class="sn-cell--1">
      <div id="steps-component"></div>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-bottom">
    <div class="sn-cell--1">
      <pre class="sn-presentation-pre-panel">
&lt;Steps activeStep={1} raised={true}&gt;
  &lt;Step label=&quot;Informa&ccedil;&otilde;es Gerais&quot;/&gt;
  &lt;Step label=&quot;Endere&ccedil;o&quot;/&gt;
  &lt;Step label=&quot;Confirma&ccedil;&atilde;o&quot;/&gt;
  &lt;Step label=&quot;Pagamento&quot;/&gt;
&lt;/Steps&gt;
      </pre>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-bottom">
    <div class="sn-cell--1">
      <h4>Steps</h4>
      <table class="sn-presentation-table">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
            <th>Required</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>activeStep</td>
            <td>number</td>
            <td>0</td>
            <td>Active step</td>
            <td>No</td>
          </tr>
          <tr>
            <td>raised</td>
            <td>bool</td>
            <td>false</td>
            <td>Add raised style</td>
            <td>No</td>
          </tr>
          <tr>
            <td>children</td>
            <td>node</td>
            <td>null</td>
            <td>Arrow steps</td>
            <td>Yes</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed">
    <div class="sn-cell--1">
      <h4>Step</h4>
      <table class="sn-presentation-table">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
            <th>Required</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>label</td>
            <td>string</td>
            <td>null</td>
            <td>Step label</td>
            <td>Yes</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-bottom"></div>
</main>

<% script('/steps.js', 'text/babel') -%>