<% layout('./../../layout') -%>

<% include _react_menu %>

<header class="sn-layout__header">
  <div aria-expanded="false" role="button" tabindex="0" class="sn-layout__drawer-button">
    <i class="material-icons"></i>
  </div>
  <div class="sn-layout__title-group">
    <div class="sn-layout__title-wrap">
      <span class="sn-layout__title">React</span>
    </div>  
    <div class="sn-layout__title-wrap">
      <span class="sn-layout__title">Card</span>
    </div>
  </div>
</header>

<main class="sn-layout__content sn-presentation-layout__content">
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-all">
    <div class="sn-cell--1">
      <h3>Example</h3>
      <div id="card-component"></div>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-bottom">
    <div class="sn-cell--1">
      <pre class="sn-presentation-pre-panel">
&lt;Card&gt;
  &lt;CardCol size={2}&gt;
    &lt;CardRow isTitle={true}&gt;
      Nome da Campanha
    &lt;/CardRow&gt;

    &lt;CardRow&gt;Foo Campaign&lt;/CardRow&gt;
  &lt;/CardCol&gt;

  &lt;CardCol size={2}&gt;
    &lt;CardRow isTitle={true}&gt;
      Other Block
    &lt;/CardRow&gt;

    &lt;CardRow&gt;Other value to this block&lt;/CardRow&gt;
  &lt;/CardCol&gt;

  &lt;CardCol size={2}&gt;
    &lt;CardRow isTitle={true}&gt;
      Nome da Campanha
    &lt;/CardRow&gt;

    &lt;CardRow&gt;Foo Campaign&lt;/CardRow&gt;
  &lt;/CardCol&gt;

  &lt;CardCol size={2}&gt;
    &lt;CardRow isTitle={true}&gt;
      Other Block
    &lt;/CardRow&gt;

    &lt;CardRow&gt;Other value to this block&lt;/CardRow&gt;
  &lt;/CardCol&gt;

  &lt;CardCol center={true}&gt;
    &lt;a href=&quot;&quot;&gt;&lt;i className=&quot;material-icons&quot;&gt;&#57940;&lt;/i&gt;&lt;/a&gt;
  &lt;/CardCol&gt;
&lt;/Card&gt;
      </pre>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-all">
    <div class="sn-cell--1">
      <h3>Card List - Example</h3>
      <div id="card-group-component"></div>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-bottom">
    <div class="sn-cell--1">
      <pre class="sn-presentation-pre-panel">
&lt;CardList&gt;
  &lt;Card&gt;...&lt;/Card&gt;
  &lt;Card&gt;...&lt;/Card&gt;
  &lt;Card&gt;...&lt;/Card&gt;
  &lt;Card&gt;...&lt;/Card&gt;
  &lt;Card&gt;...&lt;/Card&gt;
&lt;/CardList&gt;
      </pre>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-bottom">
    <div class="sn-cell--1">
      <h4>Card</h4>
      <table class="sn-presentation-table">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
            <th>Required</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>children</td>
            <td>node</td>
            <td>null</td>
            <td>Card content</td>
            <td>Yes</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-bottom">
    <div class="sn-cell--1">
      <h4>CardCol</h4>
      <table class="sn-presentation-table">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
            <th>Required</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>size</td>
            <td>number</td>
            <td>auto</td>
            <td>Col size using flex</td>
            <td>No</td>
          </tr>
          <tr>
            <td>center</td>
            <td>bool</td>
            <td>false</td>
            <td>Align col content to the center</td>
            <td>No</td>
          </tr>
          <tr>
            <td>children</td>
            <td>node</td>
            <td>null</td>
            <td>Content</td>
            <td>Yes</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-bottom">
    <div class="sn-cell--1">
      <h4>CardRow</h4>
      <table class="sn-presentation-table">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
            <th>Required</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>isTitle</td>
            <td>bool</td>
            <td>false</td>
            <td>Add title style to content</td>
            <td>No</td>
          </tr>
          <tr>
            <td>children</td>
            <td>node</td>
            <td>null</td>
            <td>Content</td>
            <td>Yes</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-bottom">
    <div class="sn-cell--1">
      <h4>CardList</h4>
      <table class="sn-presentation-table">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
            <th>Required</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>children</td>
            <td>node</td>
            <td>null</td>
            <td>List of Card Components</td>
            <td>Yes</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

<% script('/card.js', 'text/babel') -%>