<% layout('./../../layout') -%>

<% include _react_menu %>

<header class="sn-layout__header">
  <div aria-expanded="false" role="button" tabindex="0" class="sn-layout__drawer-button">
    <i class="material-icons"></i>
  </div>
  <div class="sn-layout__title-group">
    <div class="sn-layout__title-wrap">
      <span class="sn-layout__title">React</span>
    </div>  
  </div>
</header>

<!-- Content -->
<main class="sn-layout__content sn-presentation-layout__content">

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed">
    <div class="sn-cell--1">
      <h1>Doc for react components</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ex id impedit, mollitia praesentium quae suscipit totam! A accusantium debitis eius eligendi, esse officia quis sint soluta sunt ullam voluptatibus.</p>
    </div>
  </div>

</main>