<% layout('./../../layout') -%>

<% include _react_menu %>

<header class="sn-layout__header sn-presentation-header">
  <div aria-expanded="false" role="button" tabindex="0" class="sn-layout__drawer-button">
    <i class="material-icons"></i>
  </div>
  <div class="sn-layout__title-group">
    <div class="sn-layout__title-wrap">
      <span class="sn-layout__title">React</span>
    </div>  
    <div class="sn-layout__title-wrap">
      <span class="sn-layout__title">Well</span>
    </div>
  </div>
</header>

<main class="sn-layout__content sn-presentation-layout__content">
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-all">
    <div class="sn-cell--1">
      <h3>Example</h3>
      <div id="well-component"></div>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-bottom">
    <div class="sn-cell--1">
      <pre class="sn-presentation-pre-panel">
&lt;Well&gt;
  I am a well!
&lt;/Well&gt;
      </pre>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-bottom">
    <div class="sn-cell--1">
      <h4>Tooltip</h4>
      <table class="sn-presentation-table">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
            <th>Required</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>children</td>
            <td>node</td>
            <td>null</td>
            <td>Wrapped content</td>
            <td>Yes</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

<% script('/well.js', 'text/babel') -%>