/*
 *
 *  IN LOCO
 *  www.snocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *      tabs variables file
 *  ----------- *** ------------
 *
 */



// Tabs variables







// Color variables:
$default-tab-color: $default-text-color-secondary;
$default-tab-selected: $default-text-color-primary;
$default-tab-underline: $default-primary-color;
$default-tab-effect: $palette-light-green-300;
$default-tab-dark-color: $default-text-color-contrast;
$default-tab-dark-selected: $default-text-color-contrast;
$default-tab-dark-underline: $default-text-color-contrast;