/*
 *
 *  IN LOCO
 *  www.snocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *   info-boxes variables file
 *  ----------- *** ------------
 *
 */



// info-boxes variables

$default-info-box-min-height: $vm * 4;






// COLORS

$default-info-box-color-text:       $default-text-color-primary;
$default-info-box-color-black:      $color-black;

$default-info-box-default-color:    $palette-grey-500;
$default-info-box-warning-color:    $default-warning-color;
$default-info-box-danger-color:     $default-danger-color;
$default-info-box-info-color:       $default-info-color;



