/*
 *
 *  IN LOCO
 *  www.snocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *     alerts variables file
 *  ----------- *** ------------
 *
 */


@import "../../globals/colors/colors_variables";


// Alerts variables

$default-alert-position-top: $vm * 22;
$default-alert-max-width: $hm * 150;
$default-alert-padding: ($vm * 6) ($hm * 6);
$default-alert-margin-mobile: ($hm * 8);
$default-alert-message-margin: ($hm * 8);
$default-alert-message-size: ($hm * 12);
$default-alert-message-position: $hm;
$default-alert-close-font-size: $dfs * 1.7142857143;

