/*
 *
 *  IN LOCO
 *  www.snocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *     boards variables file
 *  ----------- *** ------------
 *
 */


// Boards variables

$default-board-background                              : $color-white;
$default-board-bleed                                   : $hm * 10;
$default-board-bleed-sm                                : $hm * 4;


