/*
 *
 *  IN LOCO
 *  www.snocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *   search-boxes variables file
 *  ----------- *** ------------
 *
 */



// Search-boxes variables

$default-search-box-min-height: $vm * 9;






// Colors

$default-search-box-line-divider: $default-dividers-color;

$default-search-box-background-color: $color-white;
$default-search-box-selected-color: $default-accent-color;
$default-search-box-item-hover-background-color: $palette-grey-200;

$default-search-box-item-type-color: $palette-grey-400;

$default-search-box-item-button-color: $palette-grey-400;
$default-search-box-item-button-color-active: $color-white;
$default-search-box-item-button-selected-background-color-active: $default-danger-color;
$default-search-box-item-button-results-background-color-active: $default-accent-color;
$default-search-box-message-color-success: $default-success-color;
$default-search-box-message-color-warning: $default-warning-color;
$default-search-box-message-color-danger: $default-danger-color;
$default-search-box-message-color-info: $default-info-color;




