/*
 *
 *  IN LOCO
 *  www.inlocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *      variables sass file
 *  ----------- *** ------------
 *
 */


// Images Path & Folders

$default-images-dir       : "/assets/";
$default-sm-dir           : "supernova/1_0x/";
$default-md-dir           : "supernova/1_5x/";
$default-hd-dir           : "supernova/2_0x/";
$default-xh-dir           : "supernova/3_0x/";
$default-xx-dir           : "supernova/4_0x/";
