/*
 *
 *  IN LOCO
 *  www.snocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *     steps variables file
 *  ----------- *** ------------
 *
 */



// Steps variables

$default-steps-height                           : $vm * 16;
$default-steps-height                           : $vm * 16;
$default-steps-raised-box-shadow                : 0 2px 2px rgba(0, 0, 0, 0.11);

$default-steps-item-padding                     : ($vm*6) ($hm * 3) 0 ($hm * 12);
$default-steps-item-margin-right                : $hm * 8.5;
$default-steps-item-font-size                   : floor($dfs * 0.86);
$default-steps-item-line-height                 : floor($dlh * 0.84);

$default-steps-item-number-icon-position-top    : $vm * 5.5;
$default-steps-item-number-icon-position-left   : $hm * 4;
$default-steps-item-number-icon-padding         : ($vm / 2) ($hm * 1.75);

$default-steps-item-arrow-border-size           : $vm * 8;
$default-steps-item-arrow-position              : -($vm * 8);
