<% layout('./../../layout') -%>

<% include _elements_menu %>

<!-- Header -->
<header class="sn-layout__header">
  <div aria-expanded="false" role="button" tabindex="0" class="sn-layout__drawer-button">
    <i class="material-icons"></i>
  </div>
  <div class="sn-layout__title-group">
    <div class="sn-layout__title-wrap">
      <span class="sn-layout__title">Elements</span>
    </div>  
    <div class="sn-layout__title-wrap">
      <span class="sn-layout__title">Forms</span>
    </div>
  </div>
</header>

<!-- Content -->
<main class="sn-layout__content">

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Forms</span>
    </div>
  </div>


  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">


      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eligendi ex ipsum nemo nihil qui rem sed! Consequuntur deserunt est magnam mollitia nihil nobis nulla perspiciatis quam quo rerum! Explicabo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aut consequuntur, ea eaque enim ipsa iusto laborum libero maxime odit officiis quasi quisquam reprehenderit repudiandae sequi suscipit. Eligendi, libero.</p>

      <br>


      <div class="sn-form-container">

        <form>


          <div class="sn-select">
            <select id="select">
              <option>Option 1</option>
              <option>Option 2</option>
            </select>
            <label for="select" class="sn-field__label sn-field__label--fixed">Selectbox</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>

          <div class="sn-input">
            <input type="text" required="required" id="input"/>
            <label for="input" class="sn-field__label sn-field__label--fixed">Fixed Label</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>

          <div class="sn-input">
            <input type="text" required="required" id="input"/>
            <label for="input" class="sn-field__label">Floating Label</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>

          <div class="sn-input">
            <textarea required="required" id="textarea"></textarea>
            <label for="textarea" class="sn-field__label">Textarea</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>

          <div class="sn-input has-error">
            <input type="text" required="required" id="input"/>
            <label for="input" class="sn-field__label sn-field__label--fixed">Error Input</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>


          <!-- sn-checkbox -->
          <div class="sn-form-group has-error">
            <span class="sn-form-group__label">Form Group Label</span>
            <div class="sn-checkbox">
              <label>
                <input type="checkbox" checked/><i class="sn-input__icon"></i>Texto do Checkbox
              </label>
            </div>
            <div class="sn-checkbox">
              <label>
                <input type="checkbox"/><i class="sn-input__icon"></i>Texto do Checkbox
              </label>
            </div>
            <span class="sn-form-group__message">Error message</span>
          </div>

          <!-- sn-radio -->
          <div class="sn-form-group">
            <span class="sn-form-group__label">Form Group Label</span>
            <div class="sn-radio">
              <label>
                <input type="radio" name="radio" checked="checked"/><i class="sn-input__icon"></i>Option 1
              </label>
            </div>
            <div class="sn-radio">
              <label>
                <input type="radio" name="radio"/><i class="sn-input__icon"></i>Option 2
              </label>
            </div>
            <div class="sn-radio">
              <label>
                <input type="radio" name="radio"/><i class="sn-input__icon"></i>Option 2
              </label>
            </div>
            <span class="sn-form-group__message">Error message</span>
          </div>

        </form>


        <div class="sn-grid sn-grid--horizontal">
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button">
              Simple
            </button>
          </div>
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button" disabled>
              Disabled
            </button>
          </div>
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button sn-button--raised">
              Raised
            </button>
          </div>
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button sn-button--raised sn-button--colored">
              Colored
            </button>
          </div>
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button sn-button--raised sn-button--accent">
              Accent
            </button>
          </div>
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button sn-button--raised sn-button--accent" disabled>
              Disabled
            </button>
          </div>
        </div>

      </div>




    </div>
  </div>


</main>