/*
 *
 *  IN LOCO
 *  www.inlocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *    grid variables sass file
 *  ----------- *** ------------
 *
 */


@import "../../customizable";
@import "../general/general_variables";


// Grid Bleed Sizes
$bleed-hm                           : $hm * 10; // ~40px
$bleed-vm                           : $vm * 10; // ~40px
$bleed-hm-sm                        : $hm * 4;  // ~16px
$bleed-vm-sm                        : $vm * 6;  // ~24px

// Grid Col Gutter Sizes
$gutter-hm                          : $hm * 4;  // ~16px
$gutter-xs-hm                       : $hm;      // ~4px
$gutter-sm-hm                       : $hm * 2;  // ~8px
$gutter-lg-hm                       : $hm * 6;  // ~24px

// Grid Row Gutter Sizes
$gutter-vm                          : $vm * 4;   // ~16px
$gutter-xs-vm                       : $vm / 2;   // ~2px
$gutter-sm-vm                       : $vm;       // ~4px
$gutter-lg-vm                       : $vm * 4;   // ~16px
$gutter-reverse-vm                  : $vm;       // ~4px
$gutter-lg-screen-xsmall            : $hm * 2;   // ~8px

// Box Col Padding
$cell-padding-hm                    : $hm * 4;   // ~16px
$cell-padding-vm                    : $vm * 2;   // ~8px

// Box Col Padding Small
$cell-padding-sm-hm                 : $hm * 2;   // ~8px
$cell-padding-sm-vm                 : $vm;       // ~4px

// Box Cell Expo Flexitem base margin
$cell-expo-flexitem-hm              : $hm;       // ~4px