/*
 *
 *  IN LOCO
 *  www.inlocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *       buttons variables
 *  ----------- *** ------------
 *
 */


// Buttons Variables

$default-button-height: $vs-36;
$default-button-line-height: $vs-36;
$default-button-min-width: $hs-64;
$default-button-padding: 0 $hs-16;
$default-button-border-radius: $default-border-radius;
$default-button-font-size: $default-font-size / 1.1428571429;
$default-button-transition: all .4s;