/*
 *
 *  IN LOCO
 *  www.inlocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *      variables sass file
 *  ----------- *** ------------
 *
 */


@import "../../customizable";



// Defines baseline grid based on vertical and horizontal movements


// use for calculate sizes, margins and paddings
$vm       : $default-vertical-movement;   // ~4px
$hm       : $default-horizontal-movement; // ~4px

// Use for calculate fonts size and fonts line-height
$dfs      : $default-font-size;           // ~16px
$dlh      : $default-line-height;         // ~20px



// Vertical Margins (based on baseline grid)

$vs-4     : $vm * 1;        // ~4px
$vs-8     : $vm * 2;        // ~8px
$vs-10    : $vm * 2.5;      // ~10px
$vs-12    : $vm * 3;        // ~12px
$vs-16    : $vm * 4;        // ~16px
$vs-20    : $vm * 5;        // ~20px
$vs-24    : $vm * 6;        // ~24px
$vs-28    : $vm * 7;        // ~28px
$vs-32    : $vm * 8;        // ~32px
$vs-36    : $vm * 9;        // ~36px
$vs-40    : $vm * 10;       // ~40px
$vs-48    : $vm * 12;       // ~48px
$vs-52    : $vm * 13;       // ~52px
$vs-56    : $vm * 14;       // ~56px
$vs-64    : $vm * 16;       // ~64px
$vs-72    : $vm * 18;       // ~72px

// Horizontal Margins (based on baseline grid)

$hs-4     : $hm * 1;        // ~4px
$hs-8     : $hm * 2;        // ~8px
$hs-10    : $hm * 2.5;      // ~10px
$hs-12    : $hm * 3;        // ~12px
$hs-16    : $hm * 4;        // ~16px
$hs-20    : $hm * 5;        // ~20px
$hs-24    : $hm * 6;        // ~24px
$hs-28    : $hm * 7;        // ~28px
$hs-32    : $hm * 8;        // ~32px
$hs-36    : $hm * 9;        // ~36px
$hs-40    : $hm * 10;       // ~40px
$hs-48    : $hm * 12;       // ~48px
$hs-52    : $hm * 13;       // ~52px
$hs-56    : $hm * 14;       // ~56px
$hs-64    : $hm * 16;       // ~64px
$hs-72    : $hm * 18;       // ~72px



//----


// Border Radius size

$default-border-radius: $default-font-size / 8;



// Z-INDEX variables

$z-layout-content         : 1;

$z-1                      : 100;
$z-2                      : 200;
$z-3                      : 300;
$z-4                      : 400;
$z-5                      : 500;

$z-content-panels         : 600;
$z-popovers               : 700;
$z-tooltips               : 800;
$z-layout-header          : 900;  // main-top
$z-layout-obfuscator      : 1000; // background-overlay
$z-layout-drawer          : 1100; // menu
$z-modal-background       : 1200;
$z-modal-container        : 1300;
$z-alerts                 : 1400;
$z-fit                    : 9999;



// Breakpoints

$mobile-small        : 360px;  // stand.
$mobile-large        : 480px;  // material & stand.
$tablet-xxsmall      : 560px;  // stand.
$tablet-xsmall       : 600px;  // material
$tablet-small        : 640px;  // stand.
$tablet-xmedium      : 768px;  // stand.
$tablet-medium       : 840px;  // material
$tablet-large        : 960px;  // material
$screen-xsmall       : 992px;  // stand.
$screen-small        : 1024px; // stand.
$screen-xmedium      : 1280px; // material & stand.
$screen-medium       : 1440px; // material
$screen-large        : 1600px; // material

$mobile-threshold    : 480px;  // mobile-threshold
$tablet-threshold    : 768px;  // tablet-threshold
$screen-threshold    : 1024px; // screen-threshold
