/*
 *
 *  IN LOCO
 *  www.inlocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *    dropdown component file
 *  ----------- *** ------------
 *
 */

@import "dropdown_variables";


// Dropdown


// Simple Dropdown
.sn-dropdown  {
  position: relative;

  .sn-dropdown__button {
    padding-left: 0;
  }

  .sn-dropdown__input-search {
    width: 100%;
    outline: 0;
  }

  &.has-error {
    .sn-dropdown__button {
      border-bottom: 2px solid $default-dropdown-error-color;
    }
    .sn-dropdown__message {
      display: block;
      color: $default-dropdown-error-color;
    }
    ~.sn-field__label {
      color: $default-dropdown-error-color;
    }
  }

  &.has-warning {
    .sn-dropdown__button {
      border-bottom: 2px solid $default-dropdown-warning-color;
    }
    .sn-dropdown__message {
      display: block;
      color: $default-dropdown-warning-color;
    }
    ~.sn-field__label {
      color: $default-dropdown-warning-color;
    }
  }


// Input Dropdown
  &.sn-dropdown--input {
    .sn-dropdown__button {
      border-bottom: 1px solid $default-dropdown-border-color;
      padding: $default-dropdown-padding;
    }
    &.has-error {
      .sn-dropdown__button {
        border-bottom: 2px solid $default-dropdown-error-color;
      }
      .sn-dropdown__message {
        display: block;
        color: $default-dropdown-error-color;
      }
      ~.sn-field__label {
        color: $default-dropdown-error-color;
      }
    }
    &.has-warning {
      .sn-dropdown__button {
        border-bottom: 2px solid $default-dropdown-warning-color;
      }
      .sn-dropdown__message {
        display: block;
        color: $default-dropdown-warning-color;
      }
      ~.sn-field__label {
        color: $default-dropdown-warning-color;
      }
    }
  }


// Box Dropdown / Status
  &.sn-dropdown--box,
  &.sn-dropdown--status {
    border-bottom: 0;
    .sn-dropdown__button {
      border: 1px solid $default-dropdown-border-color;
      border-radius: $default-dropdown-border-radius;
      padding: $default-dropdown-box-padding;
      background-color: $color-white;
      &:after {
        background-color: $default-dropdown-box-icon-background-color;
      }
    }
    &.has-error {
      .sn-dropdown__button {
        border: 2px solid $default-dropdown-error-color;
      }
      .sn-dropdown__message {
        display: block;
        color: $default-dropdown-error-color;
      }
      ~.sn-field__label {
        color: $default-dropdown-error-color;
      }
    }
    &.has-warning {
      .sn-dropdown__button {
        border: 2px solid $default-dropdown-warning-color;
      }
      .sn-dropdown__message {
        display: block;
        color: $default-dropdown-warning-color;
      }
      ~.sn-field__label {
        color: $default-dropdown-warning-color;
      }
    }
  }


// Status Dropdown

  &.sn-dropdown--status {
    .sn-dropdown__button {
      border-left: 4px solid silver;
    }
    &.has-error .sn-dropdown__button,
    &.has-warning .sn-dropdown__button {
      border-left-width: 4px;
    }
  }
}





  .sn-dropdown__button {
    position: relative;
    display: inline-block;
    background: 0 0;
    border: 0;
    color: $default-dropdown-color-text;
    margin: 0;
    height: $default-dropdown-height;
    min-width: $default-dropdown-min-width;
    width: 100%;
    padding: $default-dropdown-padding;
    font-size: $default-dropdown-font-size;
    line-height: $default-dropdown-line-height;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    vertical-align: middle;
    will-change: all;
    transition: $default-dropdown-transition;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: $default-dropdown-icon-margin;
      font-family: 'Material Icons';
      content: "\e5c5";
      color: $default-dropdown-icon-color;
      padding: 8px 4px;
      font-size: 24px;
      line-height: 20px;
    }

    &.-loading{
      background: $palette-grey-100;
      padding: 8px;
      color: $palette-grey-500;
    }
  }

  .sn-dropdown__results {
    position: absolute;
    width: 100%;
    min-height: 38px;
    max-height: 232px;
    overflow-x: auto;
    border-top: 1px solid $default-dropdown-line-divider;
    cursor: pointer;
    background-color: $default-dropdown-background-color;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    @include shadow-2dp();
    li {
      @include flexbox();
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row;
      position: relative;
      min-height: 16px;
      padding: 12px;
      font-size: 14px;
      color: $default-dropdown-results-color;
      text-overflow: ellipsis;
      border-top: 1px solid $default-dropdown-line-divider;
      * {
        -webkit-align-self: center;
        align-self: center;
      }
      &:hover {
        background-color: $default-search-box-item-hover-background-color;
      }
    }
    li:first-child {
      border: 0;
    }
  }

  .sn-dropdown__message {
    display: none;
    padding: 6px 1px;
    font-size: 12.6px;
    line-height: 16.66667px;
  }
