/*
 *
 *  IN LOCO
 *  www.snocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *    dropdown variables file
 *  ----------- *** ------------
 *
 */





// Dropdown


$default-dropdown-height            : $vm * 9;
$default-dropdown-min-width         : $hm * 4;
$default-dropdown-line-height       : $dlh;
$default-dropdown-padding           : 0 $hm * 10 0 $hm * 2;
$default-dropdown-border-radius     : $default-border-radius;
$default-dropdown-font-size         : $dfs;
$default-dropdown-transition        : all .4s;
$default-dropdown-icon-margin       : 0 0 0 12px;

$default-dropdown-box-padding       : 0 $hm * 10 0 $hm * 2;
