/*
 *
 *  IN LOCO
 *  www.snocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *     wells variables file
 *  ----------- *** ------------
 *
 */


// Wells variables

$default-well-bleed                                   : $hm * 4;
$default-well-padding                                 : $hm * 4;

$default-well-background                              : $color-white;

