/*
 *
 *  IN LOCO
 *  www.snocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *   search-boxes variables file
 *  ----------- *** ------------
 *
 */



// Search-boxes variables

$default-search-box-min-height: $vm * 9;
$default-search-box-disabled-background-color: $default-body-background-color;
$default-search-box-disabled-color: darken($default-search-box-disabled-background-color, 40%);
