/*
 *
 *  IN LOCO
 *  www.inlocomedia.com
 *
 *  Copyright 2017 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *    spinner component file
 *  ----------- *** ------------
 *
 */

.sn-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sn-spinner--rotate {
  animation: rotate 0.75s infinite linear;
}

@keyframes rotate {
  to {transform: rotate(360deg);}
}
