<div class="sn-layout__drawer" id="sidebar">
  <span class="sn-layout-title">
    <a href="/">
      <i class="sn-icon sn-icon__supernova--brand sn-presentation-brand"></i>
    </a>
  </span>
  <nav class="sn-navigation">
    <a class="sn-navigation__link" href="/globals">Globals</a>
    <a class="sn-navigation__link" href="/elements/forms">Elements</a>
    <a class="sn-navigation__link" href="/components">Components</a>
  </nav>
</div>

<div class="sn-layout__obfuscator"></div>