<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Document</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
  <div class="sn-layout sn-js-layout sn-layout--fixed-drawer">
    <%-body -%>
  </div>

  <script src="/index.js"></script>
</body>
</html>