/*
 *
 *  IN LOCO
 *  www.snocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *    dropdown variables file
 *  ----------- *** ------------
 *
 */


@import "../../globals/colors/colors_variables";


// Dropdown


$default-dropdown-height: $vm * 9;
$default-dropdown-min-width: $hm * 16;
$default-dropdown-line-height: $dlh;
$default-dropdown-padding: 0 $hm * 10 0 $hm * 2;
$default-dropdown-border-radius: $default-border-radius;
$default-dropdown-font-size: $dfs;
$default-dropdown-transition: all .4s;
$default-dropdown-icon-margin: 0 0 0 12px;

$default-dropdown-box-padding: 0 $hm * 10 0 $hm * 2;




$default-dropdown-background-color: $color-white;
$default-dropdown-line-divider: $default-dividers-color;
$default-dropdown-background-color: $color-white;
$default-dropdown-selected-color: $default-accent-color;
$default-dropdown-item-hover-background-color: $palette-grey-200;
$default-dropdown-icon-color: $palette-grey-600;
$default-dropdown-results-color: $color-black;

$default-dropdown-border-color: $palette-grey-300;
$default-dropdown-box-icon-background-color: $palette-grey-200;
