
$transition-default-time: .3s;
$default-collapsible-border: 1px solid #C9C9C9;
$default-collapsible-header-color: #E7E7E7;
$default-collapsible-toggle-button-color: #8A8A8A;
$default-collapsible-disabled-text-color: #BF9D9D;