/*
 *
 *  IN LOCO
 *  www.inlocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *   info-boxes component file
 *  ----------- *** ------------
 *
 */

@import "info-boxes_variables";


// Info-boxes

.sn-info-box {
  width: 100%;
  min-height: $default-info-box-min-height;
  list-style: none;
  padding: 4px 12px;
  border-left-width: 2px;
  border-left-style: solid;
  font-weight: normal;
  font-size: 12px;
  margin: 8px 0;

  .sn-info-box__title {
    display: block;
    font-size: 14px;
    margin: 2px 0 2px 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;
  }

  .sn-info-box__info-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  a {
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0 0.2em 0 0.2em;
    &:hover {
      text-decoration: underline;
    }
  }

  &#{&}--default {
    border-left-color: $default-info-box-default-border-color;
    .sn-info-box__title , span { color: $default-info-box-default-color; }
    a { color: $default-info-box-default-text-color; }
  }

  &#{&}--warning {
    border-left-color: $default-info-box-warning-color;
    .sn-info-box__title , a, span { color: $default-info-box-warning-color; }
  }

  &#{&}--danger {
    border-left-color: $default-info-box-danger-color;
    .sn-info-box__title, a, span { color: $default-info-box-danger-color; }
  }

  &#{&}--info {
    border-left-color: $default-info-box-info-color;
    .sn-info-box__title, a, span { color: $default-info-box-info-color; }
  }

}
