@import "functions/ratios";

@import "../typography";
$ms-base    : $default-font-size    !default;
$ms-ratio   : $default-scale-factor !default;
$ms-range   : $default-scale-range  !default;
$ms-fluid   : $default-scale-fluid  !default;

@import "functions/tests";

@import "functions/pow";
@import "functions/calc";
@import "functions/generate-list";
@import "functions/sort-list";
@import "functions/round-px";
@import "functions/function";
@import "functions/function-list";

@import "functions/respond";