/*
 *
 *  IN LOCO
 *  www.inlocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *        icons sass file
 *  ----------- *** ------------
 *
 */

/***************************
    INLOCOMEDIA ICON FONT
****************************/

// Catchall baseclass

.sn-icon {
  position: relative;
  display: inline-block;
  font-family: "Supernova";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 12px;
  font-size: 24px;
}

// INDIVIDUAL ICONS

//  System
.sn-icon__supernova--brand {
  &:before {
    content: "\e900";
  }
}
.sn-icon__inlocomedia--brand {
  &:before {
    content: "\e901";
  }
}
