@import "progress-bar_variables";

.sn-progress-bar {
  padding: 40px 20px;
  width: auto;
  background: $color-white;
  position: relative;
  font-size: 10px;
  border: 1px solid $palette-grey-200;
  border-radius: 5px;

  &__inner-wrapper {
    background-color: $default-progress-bar-secondary-background-color;
    height: 25px;
    width: 100%;
    position: relative;
    border-radius: 5px;
  }

  &__progress-wrapper {
    background-color: $default-progress-bar-background-color;
    height: 25px;
    position: relative;
    border-radius: 5px;
  }

  &__initial-text {
    position: absolute;
    bottom: -20px;
    color: $palette-grey-500;
  }

  &__percentage-text {
    font-size: 12px;
    color: $color-white;
    font-weight: 500;
    display: block;
    height: 25px;
    line-height: 25px;
  }

  &__inner-text {
    position: absolute;
    left: 100%;
    top: -25px;
    white-space: nowrap;
    font-size: 12px;
  }

  &__final-text {
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
    color: $palette-grey-500;
    white-space: nowrap;
  }

  &__message-text {
    display: block;
    margin-top: 30px;
  }
}