/**
 * source: hint-sizes.scss
 *
 * Defines width restricted tooltips that can span
 * across multiple lines.
 *
 * Classes added:
 * 	1) hint--sm
 * 	2) hint--md
 * 	3) hint--lg
 *
 */


.#{$hintPrefix}sm,
.#{$hintPrefix}md,
.#{$hintPrefix}lg {
	&:after {
		white-space: normal;
		line-height: 1.4em;
	}
}

.#{$hintPrefix}sm {
	&:after {
		width: $hintSizeSmall;
	}
}
.#{$hintPrefix}md {
	&:after {
		width: $hintSizeMedium;
	}
}
.#{$hintPrefix}lg {
	&:after {
		width: $hintSizeLarge;
	}
}
