
<div class="sn-layout__drawer" id="sidebar">
  <span class="sn-layout__drawer-title">
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/20/WordPress_logo.svg" alt="inlocomedia adsops" class="sn-layout__drawer-title__image">
  </span>
  <div class="sn-layout__drawer-user">
    <div class="sn-layout__drawer-user__avatar">
      <div class="sn-layout__drawer-user__avatar-mask">
        <a href="" data-toggle="modal" data-target="#modal-avatar" title="Editar imagem de avatar">
          <img class="sn-layout__drawer-user__avatar-image" src="http://minha.inlocomedia.com/wp-content/uploads/2016/05/midia-kit-icon-location.png" alt="">
        </a>
      </div>
    </div>
    <div class="sn-layout__drawer-user__info">
      <span class="sn-layout__drawer-user__info-name">Nome do Usuário</span>
      <span class="sn-layout__drawer-user__info-contact">nome@inlocomedia.com</span>
      <ul class="sn-layout__drawer-user__info-actions">
        <li>
          <a href="#">
            <i class="material-icons">&#xE7FD;</i>Conta
          </a>
        </li>
        <li>
          <a href="#">
            <i class="material-icons">&#xE8AC;</i>Sair
          </a>
        </li>
      </ul>
    </div>
  </div>
  <nav class="sn-layout__drawer-navigation">
    <a class="sn-layout__drawer-navigation__link" href="components">
      <i class="material-icons">&#xE260;</i>
      Steps
    </a>
    <a class="sn-layout__drawer-navigation__link" href="../presentation">
      <i class="material-icons">&#xE1B2;</i>
      Presentation
    </a>
  </nav>
</div>
<div class="sn-layout__obfuscator"></div>