
<% layout('./../../layout') -%>

<% include _components_menu %>

<!-- Header -->
<header class="sn-layout__header">
  <div aria-expanded="false" role="button" tabindex="0" class="sn-layout__drawer-button">
    <i class="material-icons"></i>
  </div>
  <div class="sn-layout__header-row">
    <!-- Title -->
    <span class="sn-layout-title">Components</span>
  </div>
</header>

<!-- Subheader -->
<div class="sn-layout__subheader">
  <div class="sn-steps sn-steps--raised">
    <div class="sn-steps__item is-done">
      <i class="sn-steps__number-icon">1</i>
      Concluido
    </div>
    <div class="sn-steps__item is-active">
      <i class="sn-steps__number-icon">2</i>
      Ativo
    </div>
    <div class="sn-steps__item">
      <i class="sn-steps__number-icon">3</i>
      A fazer
    </div>
    <div class="sn-steps__item">
      <i class="sn-steps__number-icon">4</i>
      A fazer
    </div>
  </div>
</div>


<!-- Content -->
<main class="sn-layout__content">




  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Search-boxes</span>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed sn-grid--cell-gutter">
    <div class="sn-cell--1">

      <div class="sn-search-box">

        <!--<ul class="sn-search-box__selected">-->
          <!--<li>-->
            <!--<span class="sn-search-box__item-title"><strong>Shopping Recife</strong></span>-->
            <!--<span class="sn-search-box__item-type">Shopping</span>-->
            <!--<button type="button" class="sn-search-box__item-button"></button>-->
          <!--</li>-->
        <!--</ul>-->

        <input type="text" class="sn-search-box__input is-selected" placeholder="Busque um estabelecimento..." autocomplete="off">
        <span class="sn-search-box__message sn-search-box__message--info">
          Agência não encontrada. Será cadastrada uma nova agência.
        </span>

        <!--<ul class="sn-search-box__results">-->
          <!--<li>-->
            <!--<span class="sn-search-box__item-title"><strong>Shopping RioMar</strong></span>-->
            <!--<span class="sn-search-box__item-type">Shopping</span>-->
            <!--<button type="button" class="sn-search-box__item-button"></button>-->
          <!--</li>-->
          <!--<li>-->
            <!--<span class="sn-search-box__item-title"><strong>Shopping Tacaruna</strong></span>-->
            <!--<span class="sn-search-box__item-type">Shopping</span>-->
            <!--<button type="button" class="sn-search-box__item-button"></button>-->
          <!--</li>-->
        <!--</ul>-->

      </div>

    </div>
    <div class="sn-cell--1"></div>
  </div>


  <br><br><br><br><br><br>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Well</span>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <div class="sn-well">
        I'm a Well!
      </div>
    </div>
  </div>


  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Pills</span>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <div class="sn-pills">
        <label class="sn-pills__label">
          <input type="radio" id="1" name="lala" value="zoombie" checked="checked">
          <span class="sn-pills__label--content">Item 1</span>
        </label>
        <label class="sn-pills__label">
          <input type="radio" id="2" name="lala" value="automatic">
          <span class="sn-pills__label--content">Item 2</span>
        </label>
        <label class="sn-pills__label">
          <input type="radio" id="3" name="lala" value="manually" data-toggle="modal" data-target="#indoor-map">
          <span class="sn-pills__label--content">Item 3</span>
        </label>
      </div>
    </div>
  </div>


  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Bubble Steps</span>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <div class="sn-steps sn-steps__bubble">
        <ul class="sn-steps__bubble-list">
          <li class="is-done">Item Completo</li>
          <li class="is-done">Item Completo</li>
          <li class="is-active">Item Ativo</li>
          <li>Item A Fazer</li>
        </ul>
      </div>
    </div>
  </div>




  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Cards</span>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <button class="sn-button sn-button--colored sn-button--raised" type="button modal-activate" data-toggle="modal" data-target="#modal" data-backdrop="static">Open Modal</button>
    </div>
  </div>





  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Tabs</span>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell-1">

      <div class="sn-tabs">
        <ul>
          <li class="sn-tabs--item is-active">
            <a href="#">Tab 1</a>
          </li>
          <li class="sn-tabs--item">
            <a href="#">Tab 2</a>
          </li>
          <li class="sn-tabs--item">
            <a href="#">Tab 3</a>
          </li>
        </ul>
      </div>

    </div>
  </div>




  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Tooltips</span>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell-1">
      <span class="sn-tooltips sn-tooltips--top" aria-label="Thank you!">Over me.</span>
    </div>
  </div>



  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Cards</span>
  </div>

  </div>
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">

      <div class="sn-card sn-card--padding sn-card--col-gutter">
        <div class="sn-card__col sn-card__col--5">
          <div class="sn-card__row--group">
            <div class="sn-card__row sn-card__row--title">
              <div class="sn-card__col--group">
                <div class="sn-card__col sn-card__col--2">
                  <span class="sn-typo--title">Nome da Campanha</span>
                </div>
                <div class="sn-card__col">Vendedor</div>
                <div class="sn-card__col">Manager</div>
                <div class="sn-card__col">AdOps</div>
              </div>
            </div>
            <div class="sn-card__row">
              <div class="sn-card__col--group">
                <div class="sn-card__col sn-card__col--2">Ativa</div>
                <div class="sn-card__col"><a href="">Rodrigo Penna</a></div>
                <div class="sn-card__col"><a href="">Milena</a></div>
                <div class="sn-card__col"><a href="">Yohanna</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="sn-card__col sn-card__col--auto"><a href="">Butn</a></div>
        <div class="sn-card__col sn-card__col--auto"><a href="">Butn</a></div>
      </div>

      <br>


      <ul class="sn-card__list sn-card__list--strip">
        <li>
          <div class="sn-card sn-card--padding sn-card--col-gutter">
            <div class="sn-card__col sn-card__col--5">
              <div class="sn-card__row--group">
                <div class="sn-card__row sn-card__row--title">
                  <div class="sn-card__col--group">
                    <div class="sn-card__col sn-card__col--2">
                      <span><a href="">Links</a></span>
                    </div>
                    <div class="sn-card__col">Vendedor</div>
                    <div class="sn-card__col">Manager</div>
                    <div class="sn-card__col">AdOps</div>
                  </div>
                </div>
                <div class="sn-card__row">
                  <div class="sn-card__col--group">
                    <div class="sn-card__col sn-card__col--2">Ativa</div>
                    <div class="sn-card__col"><a href="">Rodrigo Penna</a></div>
                    <div class="sn-card__col"><a href="">Milena</a></div>
                    <div class="sn-card__col"><a href="">Yohanna</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sn-card__col sn-card__col--auto sn-card--center">
              <a href="#" class="sn-card__icon-button">
                <i class="material-icons">&#xE254;</i>
              </a>
            </div>
            <div class="sn-card__col sn-card__col--auto sn-card--center">
              <a href="#" class="sn-card__icon-button">
                <i class="material-icons">&#xE8AF;</i>
              </a>
            </div>
          </div>
        </li>
        <li>
          <a href="#">
            <div class="sn-card sn-card--padding sn-card--col-gutter">
              <div class="sn-card__col sn-card__col--5">
                <div class="sn-card__row--group">
                  <div class="sn-card__row sn-card__row--title">
                    <div class="sn-card__col--group">
                      <div class="sn-card__col sn-card__col--2">
                        <span>Link: all card</span>
                      </div>
                      <div class="sn-card__col">Vendedor</div>
                      <div class="sn-card__col">Manager</div>
                      <div class="sn-card__col">AdOps</div>
                    </div>
                  </div>
                  <div class="sn-card__row">
                    <div class="sn-card__col--group">
                      <div class="sn-card__col sn-card__col--2">Ativa</div>
                      <div class="sn-card__col">Rodrigo Penna</div>
                      <div class="sn-card__col">Milena</div>
                      <div class="sn-card__col">Yohanna</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sn-card__col sn-card__col--auto sn-card__col--filled">Butn</div>
              <div class="sn-card__col sn-card__col--auto">Butn</div>
            </div>
          </a>
        </li>
        <li>
          <div class="sn-card sn-card--padding sn-card--col-gutter">
            <div class="sn-card__col sn-card__col--5">

              <a href="" class="sn-card--link">
                <div class="sn-card__row--group">
                  <div class="sn-card__row sn-card__row--title">
                    <div class="sn-card__col--group">
                      <div class="sn-card__col sn-card__col--2">
                        <span>Link: Campaign and Buttons</span>
                      </div>
                      <div class="sn-card__col">Vendedor</div>
                      <div class="sn-card__col">Manager</div>
                      <div class="sn-card__col">AdOps</div>
                    </div>
                  </div>

                  <div class="sn-card__row">
                    <div class="sn-card__col--group">
                      <div class="sn-card__col sn-card__col--2">Ativa</div>
                      <div class="sn-card__col">Rodrigo Penna</div>
                      <div class="sn-card__col">Milena</div>
                      <div class="sn-card__col">Yohanna</div>
                    </div>
                  </div>
                </div>
              </a>

            </div>

            <div class="sn-card__col sn-card__col--auto sn-card--center">
              <a href="#" class="sn-card__icon-button">
                <i class="material-icons">&#xE254;</i>
              </a>
            </div>
            <div class="sn-card__col sn-card__col--auto sn-card--center">
              <a href="#" class="sn-card__icon-button">
                <i class="material-icons">&#xE8AF;</i>
              </a>
            </div>
          </div>
        </li>

      </ul>


    </div>
  </div>


  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed sn-grid--cell-gutter">


    <div class="sn-cell--1">
      <div class="sn-card sn-card--col-gutter">
        <div class="sn-card__row--group">
          <div class="sn-card__row">
          </div>
          <hr>
          <div class="sn-card__row">
            <div class="sn-card__col--group">
              <div class="sn-card__col">COLUNA - Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias aspernatur assumenda blanditiis</div>
              <div class="sn-card__col">COLUNA - Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias aspernatur assumenda blanditiis</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="sn-cell--1">
      <div class="sn-card sn-card--padding sn-card--col-gutter sn-card--row-gutter">
        <div class="sn-card__row--group">
          <div class="sn-card__row">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam assumenda corporis earum eos facilis, labore libero officia recusandae voluptates! Aliquam beatae eos id labore magnam maxime repudiandae velit, voluptatem.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam assumenda corporis earum eos facilis, labore libero officia recusandae voluptates! Aliquam beatae eos id labore magnam maxime repudiandae velit, voluptatem.
          </div>
          <hr>
          <div class="sn-card__row">
            <div class="sn-card__col--group">
              <div class="sn-card__col">COLUNA - Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias aspernatur assumenda blanditiis</div>
              <div class="sn-card__col">COLUNA - Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias aspernatur assumenda blanditiis</div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="sn-cell--1">

      <div class="sn-form__container">

        <form>

          <div class="sn-select">
            <select id="select">
              <option>Option 1</option>
              <option>Option 2</option>
            </select>
            <label for="select" class="sn-field__label sn-field__label--fixed">Selectbox</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>

          <div class="sn-input">
            <input type="text" required="required" id="input"/>
            <label for="input" class="sn-field__label sn-field__label--fixed">Fixed Label</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>

          <div class="sn-input">
            <input type="text" required="required" id="input"/>
            <label for="input" class="sn-field__label">Floating Label</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>

          <div class="sn-input">
            <textarea required="required" id="textarea"></textarea>
            <label for="textarea" class="sn-field__label">Textarea</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>

          <div class="sn-input has-error">
            <input type="text" required="required" id="input"/>
            <label for="input" class="sn-field__label sn-field__label--fixed">Error Input</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>


          <!-- sn-checkbox -->
          <div class="sn-form-group has-error">
            <span class="sn-form-group__label">Form Group Label</span>
            <div class="sn-checkbox">
              <label>
                <input type="checkbox" checked/><i class="sn-input__icon"></i>Texto do Checkbox
              </label>
            </div>
            <div class="sn-checkbox">
              <label>
                <input type="checkbox"/><i class="sn-input__icon"></i>Texto do Checkbox
              </label>
            </div>
            <span class="sn-form-group__message">Error message</span>
          </div>

          <!-- sn-radio -->
          <div class="sn-form-group">
            <span class="sn-form-group__label">Form Group Label</span>
            <div class="sn-radio">
              <label>
                <input type="radio" name="radio" checked="checked"/><i class="sn-input__icon"></i>Option 1
              </label>
            </div>
            <div class="sn-radio">
              <label>
                <input type="radio" name="radio"/><i class="sn-input__icon"></i>Option 2
              </label>
            </div>
            <div class="sn-radio">
              <label>
                <input type="radio" name="radio"/><i class="sn-input__icon"></i>Option 2
              </label>
            </div>
            <span class="sn-form-group__message">Error message</span>
          </div>

        </form>


        <div class="sn-grid sn-grid--horizontal">
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button">
              Simple
            </button>
          </div>
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button" disabled>
              Disabled
            </button>
          </div>
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button sn-button--raised">
              Raised
            </button>
          </div>
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button sn-button--raised sn-button--colored">
              Colored
            </button>
          </div>
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button sn-button--raised sn-button--accent">
              Accent
            </button>
          </div>
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button sn-button--raised sn-button--accent" disabled>
              Disabled
            </button>
          </div>
        </div>

      </div>




    </div>
  </div>


</main>


<!-- MODAL EXAMPLE -->
<div id="modal" class="modal fade in">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="sn-button close" data-dismiss="modal" aria-label="Close" data-upgraded=",MaterialButton">
          <i class="material-icons" aria-hidden="true"></i>
        </button>
        <span class="modal-title">Perfil de Usuário</span>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda atque eum expedita ipsa maxime nihil odio officia officiis placeat qui quibusdam reiciendis rem rerum sed suscipit, tempora ullam velit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequuntur iure iusto nihil quas quia quis soluta tempore voluptas? Accusamus blanditiis dolorem eligendi eum minima, minus pariatur. Aliquid, quaerat, voluptates? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cumque dolorem molestiae omnis, quam veritatis! Debitis, placeat, qui. Amet esse impedit itaque iusto libero natus nesciunt officia perspiciatis quis sunt!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="sn-button" data-dismiss="modal">Cancelar</button>
        <button type="button" class="sn-button sn-button--colored">Salvar</button>
      </div>
    </div>

  </div>
</div>
<!-- ./modal example -->





