
<% layout('./../../layout') -%>

<% include _components_menu %>

<!-- Header -->
<header class="sn-layout__header">
  <div aria-expanded="false" role="button" tabindex="0" class="sn-layout__drawer-button">
    <i class="material-icons"></i>
  </div>
  <div class="sn-layout__header-row">
    <!-- Title -->
    <span class="sn-layout-title">Components</span>
  </div>
</header>

<!-- Subheader -->
<div class="sn-layout__subheader">
  <div class="sn-steps sn-steps--raised">
    <div class="sn-steps__item is-done">
      <i class="sn-steps__number-icon">1</i>
      Concluido
    </div>
    <div class="sn-steps__item is-active">
      <i class="sn-steps__number-icon">2</i>
      Ativo
    </div>
    <div class="sn-steps__item">
      <i class="sn-steps__number-icon">3</i>
      A fazer
    </div>
    <div class="sn-steps__item">
      <i class="sn-steps__number-icon">4</i>
      A fazer
    </div>
  </div>
</div>


<!-- Content -->
<main class="sn-layout__content">


  <div class="sn-board sn-board--bleed">
    <div>Board Component</div>

    <div class="sn-info-box sn-info-box--danger">
      <span class="sn-info-box__title">Título</span>
      <div class="sn-info-box__content">No <span>PASS0 2</span>, ao adicionar os criativos certifique-se de preencher o campo <strong>URL de Destino</strong> com o <a href="#">link fornecido</a> pela plataforma de rastreio selecionada acima.
      </div>
    </div>
  </div>


  <div class="sn-grid sn-grid--horizontal sn-grid--bleed">
    <div class="sn-cell--1">
      <div class="sn-chip sn-chip--lg sn-chip--centered">
        <div class="sn-chip__mask">
          <!--<img src="http://netdna.webdesignerdepot.com/apple-touch-icon-144x144_n.png" alt="">-->
        </div>
        <!--<div class="sn-chip__title">Título do Chip</div>-->
        <!--<div class="sn-chip__subtitle">Subtítulo do Chip</div>-->
        <!--<div class="sn-chip__legend">Legenda do Chip</div>-->
      </div>
    </div>
  </div>



<div class="sn-board">

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-top sn-grid--cell-gutter-xs">

    <!-- COLUNA 1 -->
    <div class="sn-cell--1">

      <div class="sn-grid sn-grid--responsive-tablet-threshold sn-grid--cell-gutter-xs">
        <div class="sn-cell--1">
          <div class="sn-input">
            <input type="text" required="required" id="input"/>
            <label for="input" class="sn-field__label sn-field__label--fixed">Início</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>
        </div>
        <div class="sn-cell--1">
          <div class="sn-input">
            <input type="text" required="required" id="input"/>
            <label for="input" class="sn-field__label sn-field__label--fixed">Fim</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>
        </div>
        <div class="sn-cell--1">
          <div class="sn-input">
            <input type="text" required="required" id="input"/>
            <label for="input" class="sn-field__label sn-field__label--fixed">Audiência</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>
        </div>
        <div class="sn-cell--1">
          <div class="sn-input sn-input__addon--right">
            <input type="text" required="required" id="input"/>
            <label for="input" class="sn-field__label sn-field__label--fixed">Visibilidade</label>
            <span class="sn-field__addon">%</span>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>
        </div>
        <div class="sn-cell--1">
          <div class="sn-input sn-input--text">
            <div class="sn-field__text">100.000.000</div>
            <label for="input" class="sn-field__label sn-field__label--fixed">Aud. Estimada</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>
        </div>
      </div>

    </div>


    <!-- COLUNA 2 -->
    <div class="sn-cell--1">

      <div class="sn-grid sn-grid--responsive-tablet-threshold sn-grid--cell-gutter-xs">
        <div class="sn-cell--1">
          <div class="sn-grid sn-grid--horizontal sn-grid--cell-gutter-xs">
            <div class="sn-cell--1">
              <div class="sn-input sn-input--dropdown">
                <div class="sn-dropdown">
                  <button class="sn-dropdown__button">CPM</button>
                  <!--<ul class="sn-dropdown__results">-->
                    <!--<li>CPC</li>-->
                    <!--<li>CPD</li>-->
                    <!--<li>CPI</li>-->
                  <!--</ul>-->
                </div>
                <label for="input" class="sn-field__label sn-field__label--fixed">Tipo</label>
                <i class="sn-field__bar"></i>
                <span class="sn-form-group__message">Error message</span>
              </div>
            </div>
            <div class="sn-cell--1">
              <div class="sn-input sn-input--text sn-input__addon--left">
                <div class="sn-field__text">10,00</div>
                <label for="input" class="sn-field__label sn-field__label--fixed">Valor</label>
                <span class="sn-field__addon">R$</span>
                <i class="sn-field__bar"></i>
                <span class="sn-form-group__message">100.000</span>
              </div>
            </div>
          </div>
        </div>
        <div class="sn-cell--1">
          <div class="sn-input sn-input--text sn-input__addon--left">
            <div class="sn-field__text">10,00</div>
            <label for="input" class="sn-field__label sn-field__label--fixed">Total Tabela</label>
            <span class="sn-field__addon">R$</span>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">100.000</span>
          </div>
        </div>
        <div class="sn-cell--1">
          <div class="sn-input sn-input__addon--right">
            <input type="text" required="required" id="input"/>
            <label for="input" class="sn-field__label sn-field__label--fixed">Desconto</label>
            <span class="sn-field__addon">%</span>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>
        </div>
        <div class="sn-cell--1">
          <div class="sn-input sn-input--text sn-input__addon--left">
            <div class="sn-field__text">10,00</div>
            <label for="input" class="sn-field__label sn-field__label--fixed">CPM Negociado</label>
            <span class="sn-field__addon">R$</span>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">100.000</span>
          </div>
        </div>
        <div class="sn-cell--1">
          <div class="sn-input sn-input--text sn-input__addon--left">
            <div class="sn-field__text">10,00</div>
            <label for="input" class="sn-field__label sn-field__label--fixed">Total Negociado</label>
            <span class="sn-field__addon">R$</span>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">100.000</span>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>


  <br>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-all sn-grid--cell-gutter-xs">
    <div class="sn-cell--1">
      <div class="sn-input">
        <input type="range">
        <label for="input" class="sn-field__label sn-field__label--fixed">Input Range</label>
        <i class="sn-field__bar"></i>
        <span class="sn-form-group__message">Error messagee</span>
      </div>
    </div>
    <div class="sn-cell--1">
      <div class="sn-input sn-input--text has-error">
        <div class="sn-field__text">100.000.000</div>
        <label for="input" class="sn-field__label sn-field__label--fixed">Input Text</label>
        <i class="sn-field__bar"></i>
        <span class="sn-form-group__message">Error message</span>
      </div>
    </div>
    <div class="sn-cell--1">
      <div class="sn-select has-error">
        <select id="select">
          <option>Option 1</option>
          <option>Option 2</option>
        </select>
        <label for="select" class="sn-field__label sn-field__label--fixed">Selectbox</label>
        <i class="sn-field__bar"></i>
        <span class="sn-form-group__message">Error message</span>
      </div>
    </div>
    <div class="sn-cell--1">
      <div class="sn-input sn-input--dropdown">
        <div class="sn-dropdown has-error">
          <button class="sn-dropdown__button">CPM</button>
          <!--<ul class="sn-dropdown__results">-->
            <!--<li>CPC</li>-->
            <!--<li>CPD</li>-->
            <!--<li>CPI</li>-->
          <!--</ul>-->
          <span class="sn-dropdown__message">
            Erro do dropdown com texto muito grande para quebrar a linha.
          </span>
        </div>
        <label for="input" class="sn-field__label sn-field__label--fixed">Dropdown</label>
        <i class="sn-field__bar"></i>
        <span class="sn-form-group__message">Error message</span>
      </div>
    </div>
    <div class="sn-cell--1">
      <div class="sn-input sn-input--text sn-input__addon--left">
        <div class="sn-field__text">10,00</div>
        <label for="input" class="sn-field__label sn-field__label--fixed">Input Text Addon</label>
        <span class="sn-field__addon">R$</span>
        <i class="sn-field__bar"></i>
        <span class="sn-form-group__message">Error message</span>
      </div>
    </div>
    <div class="sn-cell--1">
      <div class="sn-input">
        <input type="text" required="required" id="input"/>
        <label for="input" class="sn-field__label sn-field__label--fixed">Input text</label>
        <i class="sn-field__bar"></i>
        <span class="sn-form-group__message">Error message</span>
      </div>
    </div>
    <div class="sn-cell--1">
      <div class="sn-input">
        <textarea rows="1" required="required" id="input"></textarea>
        <label for="input" class="sn-field__label sn-field__label--fixed">Textarea</label>
        <i class="sn-field__bar"></i>
        <span class="sn-form-group__message">Error message</span>
      </div>
    </div>
    <div class="sn-cell--1">
      <div class="sn-input sn-input--dropdown">
        <div class="sn-dropdown sn-dropdown--box">
          <button class="sn-dropdown__button">CPM</button>
          <ul class="sn-dropdown__results">
            <li>CPC</li>
            <li>CPD</li>
            <li>CPI</li>
          </ul>
          <span class="sn-dropdown__message">
            Erro do dropdown com texto muito grande para quebrar a linha.
          </span>
        </div>
        <label for="input" class="sn-field__label sn-field__label--fixed">Dropdown-box</label>
        <i class="sn-field__bar"></i>
        <span class="sn-form-group__message">Error message</span>
      </div>
    </div>
  </div>




  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Search-boxes</span>
    </div>
  </div>


  <div class="sn-grid sn-grid--responsive-tablet-sm sn-grid--bleed sn-grid--bleed-top sn-grid--cell-gutter">

    <div class="sn-cell--1">
      <div class="sn-search-box">
        <input type="text" class="sn-search-box__input" placeholder="Busque um estabelecimento..." autocomplete="off">
        <span class="sn-search-box__input--icon"></span>
        <ul class="sn-search-box__results">
          <li class="sn-search-box__results--no-results">
            <div class="sn-search-box__item-content">
              Nenhum resultado encontrado.
            </div>
          </li>
          <li class="sn-search-box__results--action">
            <div class="sn-search-box__item-content">
              <button class="sn-button sn-button--xs">
                <i class="material-icons">add</i>
                <span class="is-hidden--tablet-threshold">Novo Anunciante</span>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="sn-cell--1">
      <div class="sn-search-box">
        <input type="text" class="sn-search-box__input" placeholder="Busque alguma coisa..." autocomplete="off">
        <span class="sn-search-box__input--icon"></span>

        <ul class="sn-search-box__results">
          <li>
            <div class="sn-search-box__item-content">
              <div class="sn-grid sn-grid--responsive-mobile-lg sn-grid--cell-gutter">
                <div class="sn-cell--1">
                  <span class="sn-typo--font-bold">O Boticário</span>
                </div>
                <div class="sn-cell--auto sn-cell--text-right">
                  <span class="sn-typo--caption sn-color--secondary-text">01.435.546/0001-34</span>
                </div>
              </div>
              <div class="sn-grid sn-grid--responsive-mobile-lg">
                <div class="sn-cell--1">
                  <span class="sn-typo--caption sn-color--secondary-text">O Boticário Perfumaria S.A.</span>
                </div>
              </div>
            </div>
            <button type="button" class="sn-search-box__item-button"></button>
          </li>
          <li>
            <div class="sn-search-box__item-content">
              <div class="sn-grid sn-grid--responsive-mobile-lg sn-grid--cell-gutter">
                <div class="sn-cell--1">
                  <span class="sn-typo--font-bold">O Boticário</span>
                </div>
                <div class="sn-cell--auto sn-cell--text-right">
                  <span class="sn-typo--caption sn-color--secondary-text">01.435.546/0001-34</span>
                </div>
              </div>
              <div class="sn-grid sn-grid--responsive-mobile-lg">
                <div class="sn-cell--1">
                  <span class="sn-typo--caption sn-color--secondary-text">O Boticário Perfumaria S.A.</span>
                </div>
              </div>
            </div>
            <button type="button" class="sn-search-box__item-button"></button>
          </li>
          <li class="sn-search-box__results--action">
            <div class="sn-search-box__item-content">
              <button class="sn-button sn-button--xs">
                <i class="material-icons">add</i>
                <span class="is-hidden--tablet-threshold">Novo Anunciante</span>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="sn-cell--1">
      <div class="sn-search-box">
        <ul class="sn-search-box__selected">
          <li>
            <div class="sn-search-box__item-content">
              <div class="sn-grid sn-grid--horizontal sn-grid--cell-gutter-xs">
                <div class="sn-cell--1">
                  <span class="sn-typo--font-bold">O Boticário</span>
                </div>
                <div class="sn-cell--auto sn-cell--text-right">
                  <span class="sn-typo--caption sn-color--secondary-text">01.435.546/0001-34</span>
                </div>
                <div class="sn-cell--auto">
                  <a href=""><i class="material-icons">edit</i></a>
                </div>
              </div>
              <div class="sn-grid sn-grid--responsive-mobile-lg">
                <div class="sn-cell--1">
                  <span class="sn-typo--caption sn-color--secondary-text">O Boticário Perfumaria S.A.</span>
                </div>
              </div>
              <div class="sn-grid sn-grid--responsive-mobile-lg sn-grid--cell-gutter-xs">
                <div class="sn-cell--1">
                  <span class="sn-typo--caption sn-color--secondary-text">Comercial:</span>
                </div>
                <div class="sn-cell--3">
                  <span class="sn-typo--caption">Bruno Quaresma - bruno@oboticario.com - 81.99923-0342</span>
                </div>
              </div>
              <div class="sn-grid sn-grid--responsive-mobile-lg sn-grid--cell-gutter-xs">
                <div class="sn-cell--1">
                  <span class="sn-typo--caption sn-color--secondary-text">Financeiro:</span>
                </div>
                <div class="sn-cell--3">
                  <span class="sn-typo--caption">Giselle Rossi - giselle@oboticario.com - 81.99282-2930</span>
                </div>
              </div>
            </div>
            <button type="button" class="sn-search-box__item-button sn-search-box__item-button--top"></button>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <br><br><br><br><br><br><br><br>


  <div class="sn-grid sn-grid--responsive-tablet-sm sn-grid--bleed sn-grid--bleed-top sn-grid--cell-gutter">

    <div class="sn-cell--1">
      <div class="sn-search-box">
        <ul class="sn-search-box__selected">
          <li>
            <div class="sn-search-box__item-content">Último item Selecionado</div>
            <button type="button" class="sn-search-box__item-button"></button>
          </li>
          <li>
            <div class="sn-search-box__item-content">Primeiro item selecionado</div>
            <button type="button" class="sn-search-box__item-button"></button>
          </li>
        </ul>

        <input type="text" class="sn-search-box__input" placeholder="Busque alguma coisa..." autocomplete="off">
        <span class="sn-search-box__input--icon"></span>

        <ul class="sn-search-box__results">
          <li>
            <div class="sn-search-box__item-content">Resultado da busca</div>
            <button type="button" class="sn-search-box__item-button"></button>
          </li>
          <li>
            <div class="sn-search-box__item-content">
              <div class="sn-grid sn-grid--responsive-mobile-lg sn-grid--cell-gutter">
                <div class="sn-cell--1">Resultado / N linhas</div>
                <div class="sn-cell--1">Fechar centralizado</div>
              </div>
              <div class="sn-grid sn-grid--responsive-mobile-lg sn-grid--cell-gutter">
                <div class="sn-cell--1">Linha 2</div>
                <div class="sn-cell--1">--</div>
              </div>
            </div>
            <button type="button" class="sn-search-box__item-button"></button>
          </li>
          <li>
            <div class="sn-search-box__item-content">
              <div class="sn-grid sn-grid--responsive-mobile-lg sn-grid--cell-gutter">
                <div class="sn-cell--1">Resultado / N linhas</div>
                <div class="sn-cell--1">Fechar fixo no topo</div>
              </div>
              <div class="sn-grid sn-grid--responsive-mobile-lg sn-grid--cell-gutter">
                <div class="sn-cell--1">Linha 2</div>
                <div class="sn-cell--1">--</div>
              </div>
            </div>
            <button type="button" class="sn-search-box__item-button sn-search-box__item-button--top"></button>
          </li>
        </ul>
      </div>
    </div>

    <div class="sn-cell--1">
      <div class="sn-search-box">
        <ul class="sn-search-box__selected">
          <li>
            <div class="sn-search-box__item-content">
              <div class="sn-grid sn-grid--responsive-mobile-lg sn-grid--cell-gutter">
                <div class="sn-cell--1">Selecionado / N linhas</div>
                <div class="sn-cell--1">Fechar centralizado</div>
              </div>
              <div class="sn-grid sn-grid--responsive-mobile-lg sn-grid--cell-gutter">
                <div class="sn-cell--1">Linha 2</div>
                <div class="sn-cell--1">--</div>
              </div>
            </div>
            <button type="button" class="sn-search-box__item-button"></button>
          </li>
        </ul>
        <input type="text" class="sn-search-box__input" placeholder="Busque um estabelecimento..." autocomplete="off">
        <span class="sn-search-box__input--icon"></span>
        <ul class="sn-search-box__results">
          <li class="sn-search-box__results--no-results">
            <div class="sn-search-box__item-content">
              Nenhum resultado encontrado.
            </div>
          </li>
          <li class="sn-search-box__results--action">
            <div class="sn-search-box__item-content">
              <button class="sn-button sn-button--xs">
                <i class="material-icons">add</i>
                <span class="is-hidden--tablet-threshold">Results com Botao de acao</span>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="sn-cell--1">
      <div class="sn-search-box">
        <ul class="sn-search-box__selected">
          <li>
            <div class="sn-search-box__item-content">Conteúdo muito grande pra ver se rquebraa asd asd asdsdfsdf</div>
            <button type="button" class="sn-search-box__item-button"></button>
          </li>
        </ul>

        <input type="text" class="sn-search-box__input" placeholder="Busque um estabelecimento..." autocomplete="off">
        <span class="sn-search-box__input--icon"></span>

        <div class="sn-search-box__message sn-search-box__message--danger">Mensagem tipo danger. (--danger / --info / --warning / --success)</div>
      </div>
    </div>

  </div>

  <br><br><br><br><br><br><br><br>


  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Dropdown</span>
    </div>
  </div>


  <div class="sn-grid sn-grid--responsive-tablet-lg sn-grid--bleed-top sn-grid--bleed sn-grid--cell-gutter">
    <div class="sn-cell--1">
      <div class="sn-well">
        <div class="sn-dropdown">
          <button class="sn-dropdown__button">Dropdown</button>
          <ul class="sn-dropdown__results">
            <li>Dropdown Result 1</li>
            <li>Dropdown Result 2</li>
            <li>Dropdown Result 3</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sn-cell--1">
      <div class="sn-well">
        <div class="sn-dropdown sn-dropdown--box">
          <button class="sn-dropdown__button">Dropdown large result</button>
          <ul class="sn-dropdown__results">
            <li>Dropdown Result 1</li>
            <li>Dropdown Result 2</li>
            <li>Dropdown Result 3</li>
          </ul>
          <span class="sn-dropdown__message">Error message</span>
        </div>
      </div>
    </div>
  </div>


  <br><br><br><br><br><br><br>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Well</span>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <div class="sn-well">
        I'm a Well!
      </div>
    </div>
  </div>


  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Pills</span>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <div class="sn-pills">
        <label class="sn-pills__label">
          <input type="radio" id="1" name="lala" value="zoombie" checked="checked">
          <span class="sn-pills__label--content">Item 1</span>
        </label>
        <label class="sn-pills__label">
          <input type="radio" id="2" name="lala" value="automatic">
          <span class="sn-pills__label--content">Item 2</span>
        </label>
        <label class="sn-pills__label">
          <input type="radio" id="3" name="lala" value="manually" data-toggle="modal" data-target="#indoor-map">
          <span class="sn-pills__label--content">Item 3</span>
        </label>
      </div>
    </div>
  </div>


  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Bubble Steps</span>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <div class="sn-steps sn-steps__bubble">
        <ul class="sn-steps__bubble-list">
          <li class="is-done">Item Completo</li>
          <li class="is-done">Item Completo</li>
          <li class="is-active">Item Ativo</li>
          <li>Item A Fazer</li>
        </ul>
      </div>
    </div>
  </div>




  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Cards</span>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <button class="sn-button sn-button--colored sn-button--raised" type="button modal-activate" data-toggle="modal" data-target="#modal" data-backdrop="static">Open Modal</button>
    </div>
  </div>





  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Tabs</span>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell-1">

      <div class="sn-tabs">
        <ul>
          <li class="sn-tabs--item is-active">
            <a href="#">Tab 1</a>
          </li>
          <li class="sn-tabs--item">
            <a href="#">Tab 2</a>
          </li>
          <li class="sn-tabs--item">
            <a href="#">Tab 3</a>
          </li>
        </ul>
      </div>

    </div>
  </div>


  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Button Groups / Sizes</span>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed sn-grid--cell-gutter">
    <div class="sn-cell--1">
      <button class="sn-button sn-button--raised sn-button--colored sn-button--full-width">
        <i class="material-icons">add</i> 100% width
      </button>
    </div>
    <div class="sn-cell--1">
      <button class="sn-button sn-button--raised sn-button--colored sn-button--full-width">
        <i class="material-icons">add</i> 100% width
      </button>
    </div>
    <div class="sn-cell--1">
      <button class="sn-button sn-button--raised sn-button--colored sn-button--full-width">
        <i class="material-icons">add</i> 100% width
      </button>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell-1">
      <div class="sn-button__group">
        <button class="sn-button">
          Button 1
        </button>
        <button class="sn-button">
          Button 2
        </button>
        <button class="sn-button sn-button--raised sn-button--colored">
          <i class="material-icons">add</i> Colored button
        </button>
        <button class="sn-button sn-button--raised sn-button--accent">
          Colored button
        </button>
        <button class="sn-button sn-button--raised sn-button--colored">
          Colored button
        </button>
        <button class="sn-button sn-button--raised sn-button--colored sn-button--sm">
          Small
        </button>
      </div>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed sn-grid--cell-gutter-lg">
    <div class="sn-cell--1">
      <div class="sn-button__group">
        <button class="sn-button sn-button--raised sn-button--colored sn-button--lg">
          Large
        </button>
        <button class="sn-button sn-button--raised sn-button--colored">
          Button
        </button>
        <button class="sn-button sn-button--raised sn-button--accent sn-button--sm">
          Small
        </button>
        <button class="sn-button sn-button--raised sn-button--colored sn-button--xs">
          x-Small
        </button>

        <button class="sn-button sn-button--raised sn-button--colored sn-button--lg">
          <i class="material-icons">&#xE89B;</i>
          <span class="is-hidden--tablet-threshold">Large</span>
        </button>
        <button class="sn-button sn-button--raised sn-button--colored">
          <i class="material-icons">add</i>
          <span class="is-hidden--tablet-threshold">Button</span>
        </button>
        <button class="sn-button sn-button--raised sn-button--accent sn-button--sm">
          <i class="material-icons">&#xE89B;</i>
          <span class="is-hidden--tablet-threshold">Small</span>
        </button>
        <button class="sn-button sn-button--raised sn-button--colored sn-button--xs">
          <i class="material-icons">&#xE89B;</i>
          <span class="is-hidden--tablet-threshold">x-Small</span>
        </button>
      </div>
    </div>
    <div class="sn-cell--1">
      <div class="sn-button__group">
        <button class="sn-button sn-button--raised sn-button--colored sn-button--lg">
          <i class="material-icons">&#xE89B;</i>
        </button>
        <button class="sn-button sn-button--raised sn-button--colored">
          <i class="material-icons">add</i>
        </button>
        <button class="sn-button sn-button--raised sn-button--accent sn-button--sm">
          <i class="material-icons">&#xE89B;</i>
        </button>
        <button class="sn-button sn-button--raised sn-button--colored sn-button--xs">
          <i class="material-icons">&#xE89B;</i>
        </button>
        <button class="sn-button sn-button--lg">
          <i class="material-icons">&#xE89B;</i>
        </button>
        <button class="sn-button">
          <i class="material-icons">add</i>
        </button>
        <button class="sn-button sn-button--sm">
          <i class="material-icons">&#xE89B;</i>
        </button>
        <button class="sn-button sn-button--xs">
          <i class="material-icons">&#xE89B;</i>
        </button>
      </div>
    </div>
  </div>


  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Collapse</span>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--2">

      <div class="sn-collapse sn-collapse--lg sn-collapse--open">

        <div class="sn-collapse__bar">
          <div class="sn-collapse__title">Collapse title</div>
          <div class="sn-collapse__icon">
            <i class="material-icons">&#xE5CF;</i>
          </div>
        </div>

        <div class="sn-collapse__content">

          <div class="sn-form__container">
            <form>
              <div class="sn-select">
                <select id="select">
                  <option>Option 1</option>
                  <option>Option 2</option>
                </select>
                <label for="select" class="sn-field__label sn-field__label--fixed">Selectbox</label>
                <i class="sn-field__bar"></i>
                <span class="sn-form-group__message">Error message</span>
              </div>
              <div class="sn-input">
                <input type="text" required="required" id="input"/>
                <label for="input" class="sn-field__label sn-field__label--fixed">Fixed Label</label>
                <i class="sn-field__bar"></i>
                <span class="sn-form-group__message">Error message</span>
              </div>
              <div class="sn-input">
                <input type="text" required="required" id="input"/>
                <label for="input" class="sn-field__label">Floating Label</label>
                <i class="sn-field__bar"></i>
                <span class="sn-form-group__message">Error message</span>
              </div>
            </form>

          </div>

        </div>
      </div>

    </div>
    <div class="sn-cell--1"></div>
  </div>



  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Tooltips</span>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell-1">
      <span class="sn-tooltips sn-tooltips--top" aria-label="Thank you!">Over me.</span>
    </div>
  </div>


  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed-bottom sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Tables</span>
    </div>
  </div>

  <table class="sn-table sn-table--stripped">
    <thead>
      <tr class="sn-table__header">
        <th colspan="3" class="sn-table__title">Título da Tabela</th>
        <th colspan="1" class="sn-typo--text-right">
          <button class="sn-button sn-button--sm">
            <i class="material-icons">edit</i>
          </button>
          <button class="sn-button sn-button--sm">
            <i class="material-icons">delete</i>
          </button>
        </th>
      </tr>
      <tr>
        <th>Payment</th>
        <th>Issue Date</th>
        <th>Amount</th>
        <th>Period</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Payment">Payment #1</td>
        <td data-label="Issue Date">02/01/2015</td>
        <td data-label="Amount">$2,311</td>
        <td data-label="Period">01/01/2015 - 01/31/2015</td>
      </tr>
      <tr>
        <td data-label="Payment">Payment #2</td>
        <td data-label="Issue Date">03/01/2015</td>
        <td data-label="Amount">$3,211</td>
        <td data-label="Period">02/01/2015 - 02/28/2015</td>
      </tr>
    </tbody>
  </table>


  <div class="sn-board">
    <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed-bottom sn-grid--bleed">
      <div class="sn-cell--1">
        <br>
        <table class="sn-table sn-table--stripped sn-table--bordered sn-table--flat sn-table--only-content">
          <thead>
            <tr class="sn-table__header">
              <th colspan="4" class="sn-table__title">Título da Tabela</th>
              <th colspan="1" class="sn-typo--text-right">
                <button class="sn-button sn-button--sm">
                  <i class="material-icons">edit</i>
                </button>
              </th>
            </tr>
            <tr>
              <th>Campaign</th>
              <th>Payment</th>
              <th>Issue Date</th>
              <th>Amount</th>
              <th>Period</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="Campaign">Adidas</td>
              <td data-label="Payment">Payment #1</td>
              <td data-label="Issue Date">02/01/2015</td>
              <td data-label="Amount">$2,311</td>
              <td data-label="Period">01/01/2015 - 01/31/2015</td>
            </tr>
            <tr>
              <td data-label="Campaign">Nike</td>
              <td data-label="Payment">Payment #2</td>
              <td data-label="Issue Date">03/01/2015</td>
              <td data-label="Amount">$3,211</td>
              <td data-label="Period">02/01/2015 - 02/28/2015</td>
            </tr>
          </tbody>
        </table>
        <br>
      </div>
    </div>
  </div>




  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Cards</span>
  </div>

  </div>
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">

      <div class="sn-card sn-card--bordered sn-card--flat sn-card--padding sn-card--col-gutter">
        <div class="sn-card__col sn-card__col--5">
          <div class="sn-card__row--group">
            <div class="sn-card__row sn-card__row--title">
              <div class="sn-card__col--group">
                <div class="sn-card__col sn-card__col--2">
                  <span class="sn-typo--title">Nome da Campanha</span>
                </div>
                <div class="sn-card__col">Vendedor</div>
                <div class="sn-card__col">Manager</div>
                <div class="sn-card__col">AdOps</div>
              </div>
            </div>
            <div class="sn-card__row">
              <div class="sn-card__col--group">
                <div class="sn-card__col sn-card__col--2">Ativa</div>
                <div class="sn-card__col"><a href="">Rodrigo Penna</a></div>
                <div class="sn-card__col"><a href="">Milena</a></div>
                <div class="sn-card__col"><a href="">Yohanna</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="sn-card__col sn-card__col--auto"><a href="">Butn</a></div>
        <div class="sn-card__col sn-card__col--auto"><a href="">Butn</a></div>
      </div>

      <br>

      <ul class="sn-card__list sn-card__list--strip">
        <li>
          <div class="sn-card sn-card--padding sn-card--col-gutter">
            <div class="sn-card__col sn-card__col--5">
              <div class="sn-card__row--group">
                <div class="sn-card__row sn-card__row--title">
                  <div class="sn-card__col--group">
                    <div class="sn-card__col sn-card__col--2">
                      <span><a href="">Links</a></span>
                    </div>
                    <div class="sn-card__col">Vendedor</div>
                    <div class="sn-card__col">Manager</div>
                    <div class="sn-card__col">AdOps</div>
                  </div>
                </div>
                <div class="sn-card__row">
                  <div class="sn-card__col--group">
                    <div class="sn-card__col sn-card__col--2">Ativa</div>
                    <div class="sn-card__col"><a href="">Rodrigo Penna</a></div>
                    <div class="sn-card__col"><a href="">Milena</a></div>
                    <div class="sn-card__col"><a href="">Yohanna</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sn-card__col sn-card__col--auto sn-card--center">
              <a href="#" class="sn-card__icon-button">
                <i class="material-icons">&#xE254;</i>
              </a>
            </div>
            <div class="sn-card__col sn-card__col--auto sn-card--center">
              <a href="#" class="sn-card__icon-button">
                <i class="material-icons">&#xE8AF;</i>
              </a>
            </div>
          </div>
        </li>
        <li>
          <a href="#">
            <div class="sn-card sn-card--padding sn-card--col-gutter">
              <div class="sn-card__col sn-card__col--5">
                <div class="sn-card__row--group">
                  <div class="sn-card__row sn-card__row--title">
                    <div class="sn-card__col--group">
                      <div class="sn-card__col sn-card__col--2">
                        <span>Link: all card</span>
                      </div>
                      <div class="sn-card__col">Vendedor</div>
                      <div class="sn-card__col">Manager</div>
                      <div class="sn-card__col">AdOps</div>
                    </div>
                  </div>
                  <div class="sn-card__row">
                    <div class="sn-card__col--group">
                      <div class="sn-card__col sn-card__col--2">Ativa</div>
                      <div class="sn-card__col">Rodrigo Penna</div>
                      <div class="sn-card__col">Milena</div>
                      <div class="sn-card__col">Yohanna</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sn-card__col sn-card__col--auto sn-card__col--filled">Butn</div>
              <div class="sn-card__col sn-card__col--auto">Butn</div>
            </div>
          </a>
        </li>
        <li>
          <div class="sn-card sn-card--padding sn-card--col-gutter">
            <div class="sn-card__col sn-card__col--5">

              <a href="" class="sn-card--link">
                <div class="sn-card__row--group">
                  <div class="sn-card__row sn-card__row--title">
                    <div class="sn-card__col--group">
                      <div class="sn-card__col sn-card__col--2">
                        <span>Link: Campaign and Buttons</span>
                      </div>
                      <div class="sn-card__col">Vendedor</div>
                      <div class="sn-card__col">Manager</div>
                      <div class="sn-card__col">AdOps</div>
                    </div>
                  </div>

                  <div class="sn-card__row">
                    <div class="sn-card__col--group">
                      <div class="sn-card__col sn-card__col--2">Ativa</div>
                      <div class="sn-card__col">Rodrigo Penna</div>
                      <div class="sn-card__col">Milena</div>
                      <div class="sn-card__col">Yohanna</div>
                    </div>
                  </div>
                </div>
              </a>

            </div>

            <div class="sn-card__col sn-card__col--auto sn-card--center">
              <a href="#" class="sn-card__icon-button">
                <i class="material-icons">&#xE254;</i>
              </a>
            </div>
            <div class="sn-card__col sn-card__col--auto sn-card--center">
              <a href="#" class="sn-card__icon-button">
                <i class="material-icons">&#xE8AF;</i>
              </a>
            </div>
          </div>
        </li>

      </ul>


    </div>
  </div>


  <br><br><br>

  <div class="sn-board">
    <div class="sn-grid sn-grid--responsive-mobile-sm sn-grid--bleed">
      <div class="sn-cell--1">Título</div>
      <div class="sn-cell--1 sn-cell--text-right">atualizada em 00/00/00 16h50</div>
      <div class="sn-cell--1 sn-cell--text-right">
        <button class="sn-button sn-button--sm">
          <i class="material-icons">&#xE89B;</i>
        </button>
      </div>
    </div>
    <div class="sn-grid sn-grid--responsive sn-grid--bleed">
      <div class="sn-cell--1">rascunho</div>
      <div class="sn-cell--1">P&G</div>
      <div class="sn-cell--1">W3Haus</div>
    </div>
  </div>



  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed sn-grid--cell-gutter">


    <div class="sn-cell--1">
      <div class="sn-card sn-card--col-gutter">
        <div class="sn-card__row--group">
          <div class="sn-card__row">
          </div>
          <hr>
          <div class="sn-card__row">
            <div class="sn-card__col--group">
              <div class="sn-card__col">COLUNA - Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias aspernatur assumenda blanditiis</div>
              <div class="sn-card__col">COLUNA - Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias aspernatur assumenda blanditiis</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="sn-cell--1">
      <div class="sn-card sn-card--borderedsn-card--padding sn-card--col-gutter sn-card--row-gutter">
        <div class="sn-card__row--group">
          <div class="sn-card__row">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam assumenda corporis earum eos facilis, labore libero officia recusandae voluptates! Aliquam beatae eos id labore magnam maxime repudiandae velit, voluptatem.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam assumenda corporis earum eos facilis, labore libero officia recusandae voluptates! Aliquam beatae eos id labore magnam maxime repudiandae velit, voluptatem.
          </div>
          <hr>
          <div class="sn-card__row">
            <div class="sn-card__col--group">
              <div class="sn-card__col">COLUNA - Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias aspernatur assumenda blanditiis</div>
              <div class="sn-card__col">COLUNA - Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias aspernatur assumenda blanditiis</div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="sn-cell--1">

      <div class="sn-form__container">

        <form>

          <div class="sn-select">
            <select id="select">
              <option>Option 1</option>
              <option>Option 2</option>
            </select>
            <label for="select" class="sn-field__label sn-field__label--fixed">Selectbox</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>

          <div class="sn-input">
            <input type="text" required="required" id="input"/>
            <label for="input" class="sn-field__label sn-field__label--fixed">Fixed Label</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>

          <div class="sn-input">
            <input type="text" required="required" id="input"/>
            <label for="input" class="sn-field__label">Floating Label</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>

          <div class="sn-input">
            <textarea required="required" id="textarea"></textarea>
            <label for="textarea" class="sn-field__label">Textarea</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>

          <div class="sn-input has-error">
            <input type="text" required="required" id="input"/>
            <label for="input" class="sn-field__label sn-field__label--fixed">Error Input</label>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>

          <div class="sn-input sn-input__addon--left">
            <input type="text" required="required" id="input"/>
            <label for="input" class="sn-field__label sn-field__label--fixed">AddOn Left with Fixed Label</label>
            <span class="sn-field__addon">R$</span>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>

          <div class="sn-input sn-input__addon--right">
            <input type="text" required="required" id="input"/>
            <label for="input" class="sn-field__label sn-field__label--fixed">AddOn Right with Fixed Label</label>
            <span class="sn-field__addon">%</span>
            <i class="sn-field__bar"></i>
            <span class="sn-form-group__message">Error message</span>
          </div>


          <!-- sn-checkbox -->
          <div class="sn-form-group has-error">
            <span class="sn-form-group__label">Form Group Label</span>
            <div class="sn-checkbox">
              <label>
                <input type="checkbox" checked/><i class="sn-input__icon"></i>Texto do Checkbox
              </label>
            </div>
            <div class="sn-checkbox">
              <label>
                <input type="checkbox"/><i class="sn-input__icon"></i>Texto do Checkbox
              </label>
            </div>
            <span class="sn-form-group__message">Error message</span>
          </div>

          <!-- sn-radio -->
          <div class="sn-form-group">
            <span class="sn-form-group__label">Form Group Label</span>
            <div class="sn-radio">
              <label>
                <input type="radio" name="radio" checked="checked"/><i class="sn-input__icon"></i>Option 1
              </label>
            </div>
            <div class="sn-radio">
              <label>
                <input type="radio" name="radio"/><i class="sn-input__icon"></i>Option 2
              </label>
            </div>
            <div class="sn-radio">
              <label>
                <input type="radio" name="radio"/><i class="sn-input__icon"></i>Option 2
              </label>
            </div>
            <span class="sn-form-group__message">Error message</span>
          </div>

        </form>


        <div class="sn-grid sn-grid--horizontal">
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button">
              Simple
            </button>
          </div>
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button" disabled>
              Disabled
            </button>
          </div>
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button sn-button--raised">
              Raised
            </button>
          </div>
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button sn-button--raised sn-button--colored">
              Colored
            </button>
          </div>
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button sn-button--raised sn-button--accent">
              Accent
            </button>
          </div>
          <div class="sn-cell--1 sn-cell--text-center">
            <button class="sn-button sn-button--raised sn-button--accent" disabled>
              Disabled
            </button>
          </div>
        </div>

      </div>




    </div>
  </div>


</main>


<!-- MODAL EXAMPLE -->

<!-- for DIALOG MODAL add sn-modal--dialog class -->
<div class="sn-modal" id="modal">
  <div class="sn-modal__wrap">
    <div class="sn-modal__content">

      <div class="sn-modal__header">
        <button type="button" class="sn-button sn-modal__header__close-button">
          <i class="material-icons"></i>
        </button>
        <span class="sn-modal__header__title">Você gostaria de modificar o perfil de usuário para todo o sistema?</span>
      </div>
      <div class="sn-modal__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda atque eum expedita ipsa maxime nihil odio officia officiis placeat qui quibusdam reiciendis rem rerum sed suscipit, tempora ullam velit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequuntur iure iusto nihil quas quia quis soluta.</p>
      </div>
      <div class="sn-modal__footer">
        <div class="sn-button__group">
          <button type="button" class="sn-button" data-dismiss="modal">Cancelar</button>
          <button type="button" class="sn-button sn-button--colored">Salvar</button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="sn-modal__backdrop"></div>
<!-- ./modal example -->





