/*
 *
 *  IN LOCO
 *  www.inlocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *   colors variables sass file
 *  ----------- *** ------------
 *
 *  Variables for all Globals, Elements and Components colors.
 *
 */

@import "pallete/material-pallete";
@import "../../customizable";




// ====== GLOBALS


// GENERALS

// Black & White
$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);

// Dark & Light
$color-dark-contrast: $color-white !default;
$color-light-contrast: $color-black !default;

// Body, Html Background
$default-body-background-color      : #eee;

// Brand colors
$default-brand-color                : $palette-blue-grey-800 !default;
$default-brand-accent-color         : $palette-light-green-500 !default;

$default-primary-color              : $default-brand-color !default;
$default-accent-color               : $default-brand-accent-color !default;

// System alert colors
$default-success-color              : desaturate($palette-green-A700, 20%) !default;
$default-warning-color              : $palette-amber-A700 !default;
$default-danger-color               : tint($palette-red-A700, 25%) !default;
$default-info-color                 : desaturate($palette-purple-A700, 30%) !default;

// Text colors
$default-text-color-primary         : rgba($color-black, 0.87) !default;
$default-text-color-secondary       : rgba($color-black, 0.54) !default;
$default-text-color-disabled        : rgba($color-black, 0.38) !default;
$default-text-color-contrast        : $color-black !default;
$default-body-text-color            : $default-text-color-primary !default;
$default-text-link-color            : $default-brand-accent-color !default;

// Dividers
$default-dividers-color             : rgba($color-black, 0.12) !default;


// LAYOUT

// -- Layout Header & Subheader
$default-layout-header-bg-color                           : rgb(56,64,71) !default;
$default-layout-header-text-color                         : $color-dark-contrast !default;
$default-layout-header-nav-hover-color                    : rgba($palette-grey-700, 0.6) !default;
$default-layout-header-tab-text-color                     : rgba($color-dark-contrast, 0.6) !default;
$default-layout-header-tab-highlight                      : $default-accent-color !default;
$default-layout-subheader-background-color                : $palette-grey-200;

// -- Drawer
$default-layout-nav-color                                 : $palette-grey-300 !default;
$default-layout-drawer-bg-color                           : $palette-grey-50 !default;
$default-layout-drawer-border-color                       : $palette-grey-300 !default;
$default-layout-text-color                                : $palette-grey-800 !default;
$default-layout-drawer-navigation-color                   : $palette-grey-600 !default;
$default-layout-drawer-navigation-link-active-color       : $palette-grey-300 !default;
$default-layout-drawer-navigation-link-active-background  : darken($default-layout-drawer-navigation-link-active-color, 1%) !default;
$default-layout-drawer-button-color                       : $default-layout-header-text-color;

// -- Obfuscator (for drawer)
$default-obfuscator-background-color                      : rgba($color-black, 0.5);

// -- Footer
$default-layout-footer-background-color                   : lighten($default-layout-header-bg-color, 60%) !default;
$default-layout-footer-color                              : $palette-grey-800 !default;
$default-layout-footer-heading-color                      : $palette-grey-900 !default;
$default-layout-footer-button-fill-color                  : $default-layout-footer-color !default;
$default-layout-footer-underline-color                    : $default-layout-footer-color !default;
$default-layout-footer-link-color                         : $default-text-link-color !default;
$default-layout-footer-link-hover-color                   : $default-text-link-color !default;




// ====== ELEMENTS


// Buttons

// -- Default buttons
$default-button-primary-color       : rgba($palette-grey-500, 0.20) !default;
$default-button-secondary-color     : $color-black !default;
$default-button-hover-color         : $default-button-primary-color !default;
$default-button-active-color        : rgba($palette-grey-500, 0.40) !default;
$default-button-focus-color         : rgba($color-black, 0.12) !default;
$default-button-color-text          : $color-black !default;

// -- Colored buttons
$button-primary-color-alt           : $default-primary-color !default;
$button-secondary-color-alt         : $color-dark-contrast !default;
$button-hover-color-alt             : $button-primary-color-alt !default;
$button-active-color-alt            : darken($default-primary-color, 6%) !default;
$button-focus-color-alt             : darken($default-primary-color, 6%) !default;
$button-primary-color-text          : $color-white !default;

// -- Accent buttons
$button-primary-accent-alt          : $default-accent-color !default;
$button-secondary-accent-alt        : $color-dark-contrast !default;
$button-hover-accent-alt            : $button-primary-accent-alt !default;
$button-active-accent-alt           : darken($button-primary-accent-alt, 6%) !default;
$button-focus-accent-alt            : darken($button-primary-accent-alt, 6%) !default;
$button-primary-accent-text         : $color-white !default;

// -- Disabled buttons
$default-button-primary-color-disabled    : rgba($color-black, 0.12) !default;
$default-button-secondary-color-disabled  : rgba($color-black, 0.26) !default;
$default-button-disabled-color-text       : $default-button-secondary-color-disabled;


// Inputs
$default-form-group-container-background                  : $color-white;
$default-form-input-color                                 : $color-black;
$default-form-label-color                                 : darken($palette-grey-500, 8%);
$default-form-label-color-floating                        : $palette-grey-400;
$default-form-label-color-focus                           : $default-accent-color;
$default-form-bar-color                                   : $palette-grey-400;
$default-form-bar-color-focus                             : $default-accent-color;
$default-form-input-icon-border-color                     : $palette-grey-400;
$default-form-input-icon-color-focus                      : $default-accent-color;
$default-form-input-icon-done-sign-color                  : $color-white;
$default-form-input-icon-color-error                      : $default-danger-color;
$default-form-group-color-message-error                   : $default-danger-color;
$default-form-group-color-message-warning                 : $default-warning-color;
$default-form-group-color-message-info                    : $default-info-color;




// ====== COMPONENTS


// Cards
$default-card-list-background-strip                  : $palette-grey-200;
$default-card-icon-button-hover                      : $default-text-link-color;


// Steps
$default-steps-background                            : $palette-grey-300 !default;
$default-steps-waiting-color                         : $palette-grey-400 !default;
$default-steps-waiting-background                    : $palette-grey-200 !default;
$default-steps-active-color                          : $palette-grey-700 !default;
$default-steps-active-brackground                    : $color-white !default;
$default-steps-done-color                            : $palette-light-green-600 !default;
$default-steps-done-background                       : lighten($palette-light-green-50, 2%) !default;
$default-steps-icon-color                            : $color-white !default;
$default-steps-icon-waiting-background               : $default-steps-waiting-color;
$default-steps-icon-active-background                : $default-steps-active-color;
$default-steps-icon-done-background                  : $default-steps-done-color;


// Alerts
$default-alert-color                                 : $color-white;
$default-alert-background-color-success              : $default-success-color;
$default-alert-background-color-info                 : $default-info-color;
$default-alert-background-color-warning              : $default-warning-color;
$default-alert-background-color-danger               : $default-danger-color;


// Dropdown
$default-dropdown-color-text                         : $color-black !default;




// ====== COLOR CUSTOMIZABLE


@if $customizable-colors == true {

  $default-brand-color              : $customizable-brand-color !important;
  $default-brand-accent-color       : $palette-light-green-500 !important;

  $default-success-color            : $customizable-success-color !important;
  $default-info-color               : $customizable-info-color !important;
  $default-warning-color            : $customizable-warning-color !important;
  $default-danger-color             : $customizable-danger-color !important;


  // ====== DARK THEME

  @if $customizable-theme == dark { // Default value is light

    $default-body-background-color              : rgb(44,50,55) !important;

    $default-text-color-primary                 : rgb(248,248,242) !important;
    $default-body-text-color                    : rgb(248,248,242) !important;
    $default-text-color-secondary               : rgba($color-white, 0.70) !important;
    $default-text-color-disabled                : rgba($color-white, 0.50) !important;
    $default-text-color-contrast                : $color-white !important;

    $default-layout-header-bg-color             : rgb(56,64,71);

    $default-layout-nav-color                                 : rgb(248,248,242) !important;
    $default-layout-drawer-bg-color                           : lighten($default-layout-header-bg-color, 5%);
    $default-layout-drawer-border-color                       : $palette-blue-grey-800 !important;
    $default-layout-text-color                                : rgb(248,248,242) !important;
    $default-layout-drawer-navigation-color                   : $palette-grey-300 !important;
    $default-layout-drawer-navigation-link-active-background  : darken($default-layout-drawer-bg-color, 5%) !important;
    $default-layout-drawer-navigation-link-active-color       : $palette-grey-500 !important;

    $default-layout-footer-background-color                   : darken($default-layout-header-bg-color, 10%) !important;
    $default-layout-footer-color                              : $palette-grey-600 !important;
    $default-layout-footer-heading-color                      : $palette-grey-500 !important;
    .sn-icon  { color: #FFF !important; }

  }

  @if $customizable-header-color == brand {
    $default-layout-header-bg-color         : $customizable-brand-color !important;
  }


  // Dracula Theme
  //  Background	rgb(40,42,54)
  //  Current Line / Selection  rgb(68,71,90)
  //  Foreground	rgb(248,248,242)
  //  Comment	rgb(98,114,164)

  // In Loco Media BLUE	rgb(43,49,63)

}
