/*
 *
 *  IN LOCO
 *  www.inlocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *       layout sass file
 *  ----------- *** ------------
 *
 */


@import "layout_variables";

// Header & Subheader

.sn-layout__header,
.sn-layout__subheader {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  z-index: $default-layout-header-zindex;
  @include shadow-2dp();
  @include animation-default();
  transition-property: max-height, box-shadow;

  .sn-layout--fixed-header > & {
    display: flex;
  }

  .sn-layout--fixed-drawer & {
    padding-left: $default-layout-drawer-width;
    @media screen and (max-width: $default-layout-screen-size-threshold) {
      padding: 0;
    }
  }

  .sn-layout--fixed-drawer .sn-layout__content > & {
    padding-left: 0;
    @media screen and (max-width: $default-layout-screen-size-threshold) {
      padding: 0;
    }
  }

  @media screen and (max-width: $default-layout-screen-size-threshold) {
    min-height: $default-layout-header-mobile-height;
  }

  .sn-layout--fixed-drawer {
    margin-left: $default-layout-drawer-width;
    width: calc(100% - #{$default-layout-drawer-width});
  }

  // @media screen and (min-width: $default-layout-screen-size-threshold + 1px) {
  //   .sn-layout--fixed-drawer > & {
  //     .sn-layout__title-group {
  //       padding-left: $default-layout-header-row-screen-padding;
  //     }
  //   }
  // }

  & > * {
    flex-shrink: 0;
  }  
}
// ./ Header & Subheader basics



// Header

.sn-layout__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-shrink: 0;
  background-color: $default-layout-header-bg-color;
  color: $default-layout-header-text-color;
  min-height: $default-layout-header-desktop-height;
  :first-child[class*='sn-layout__title-group'] {
    >.sn-layout__title-wrap {
      margin-left: 40px;
      @media screen and (max-width: $default-layout-screen-size-threshold) {  
        margin-left: 16px;
      }  
    }
  }
  .sn-layout__title-group {
    .sn-layout__title-wrap {
      position: relative;
      margin-left: 40px;
      &:before {
        position: absolute;
        display: flex;
        flex: 1;
        font-family: 'Material Icons';
        content: "\E315";
        font-size: 24px;
        left: -32px;
        opacity: .5;
      }
    }
    :first-child {
      &:before {
        display: none;
      }
    }
  }
  @media screen and (max-width: $default-layout-screen-size-threshold) {  
    min-height: $default-layout-header-mobile-row-height;

    .sn-layout__title-group {
      .sn-layout__title-wrap {
        display: none;
      }
      >:last-child {
        display: flex;
        margin-left: $default-layout-header-mobile-baseline;
        &:before {
          display: none;
        }
      }  
    }
  }

}
// ./ Header 



.sn-layout__subheader {
  background-color: $default-layout-subheader-background-color;
  min-height: $default-layout-subheader-min-height;
}

.sn-layout__title-group {
  display: flex;
  flex-direction: row;
}

.sn-layout__title-wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  flex-grow: 0;
  a {
    color: $default-layout-header-text-color;
  }
}

.sn-layout__title {
  display: block;
  position: relative;
  @include typo-title();
  font-weight: 400;
  box-sizing: border-box;
  white-space: nowrap;
}

.sn-layout__subtitle {
  display: block;
  position: relative;
  @include typo-body-2();
  font-weight: 500;
  box-sizing: border-box;
  white-space: nowrap;
  opacity: .6;
}

.sn-layout__navigation {
  @include flexitem(0,0,auto);
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin: 0;
  margin-left: 16px;
  margin-right: 8px;
  padding: 0;
  height: $default-layout-header-desktop-row-height;
  align-items: center;
  @media screen and (max-width: $default-layout-screen-size-threshold) {
    height: $default-layout-header-mobile-row-height;
  }
  button {
    min-width: 48px;
    height: 48px;
    color: white;
    cursor: pointer;
    margin-right: 8px;
  }
}

.sn-layout__brand {
  height: 48px;
  margin: 0 8px;
  img {
    width: 100%;
  }
}