/*
 *
 *  IN LOCO
 *  www.inlocomedia.com
 *
 *  Copyright 2016 - All Rights Reserved.
 *
 *  -------- SUPERNOVA ---------
 *   layout variables sass file
 *  ----------- *** ------------
 *
 */


@import "../mixins/mixins";
@import "../general/general_variables";
@import "../typography/typography_variables";
@import "../colors/colors_variables";


$default-layout-screen-size-threshold                 : $screen-threshold !default; // ~1024px

// Header & Subheader
$default-layout-header-mobile-height                  : $hm * 14 !default; // ~56px
$default-layout-header-desktop-height                 : $hm * 16 !default; // ~64px
$default-layout-header-row-screen-padding             : $hm * 10 !default; // ~40px//
$default-layout-header-desktop-baseline               : $hm * 20 !default; // ~80px
$default-layout-header-mobile-baseline                : $hm * 16 !default; // ~64px - original is 72px
$default-layout-header-mobile-indent                  : $hm * 4 !default; // ~16px
$default-layout-header-desktop-indent                 : $hm * 8 !default; // ~32px - original is 40px
$default-layout-header-navigation-margin              : 0 ($vm * 4.5) 0 ($vm * 4) ; // ~ 0 18px 0 16px;
$default-layout-header-navigation-button-width        : $hm * 12; // ~ 48px;
$default-layout-header-navigation-button-height       : $vm * 12; // ~ 48px;
$default-layout-header-navigation-button-margin       : auto ($hm * 2) auto auto; // ~ auto 8px auto auto;
$default-layout-header-navigation-brand-height        : $vm * 12; // ~ 48px;
$default-layout-header-navigation-brand-margin        : 0 ($hm * 2); // ~ 0 8px;;
$default-layout-header-title-group-left-position      : $hm * 8; // ~ 32px;
$default-layout-header-title-group-title-wrap-margin-left  : $hm * 10; // ~ 40px;
$default-layout-header-title-group-title-wrap-threshold-margin-left  : $hm * 4; // ~ 16px;
$default-layout-header-title-group-title-wrap-arrow-font-size  : $dfs * 1.7142857143; // ~ 24px;
$default-layout-subheader-min-height                  : $vm * 14 !default; // ~56px


// Drawer
$default-layout-drawer-narrow                         : $hm * 60 !default; // ~240px
//$default-layout-drawer-wide                           : 456px !default;
$default-layout-drawer-width                          : $default-layout-drawer-narrow !default;
$default-layout-drawer-border-right                   : $hm * 0.25 !default; // ~1px
$default-layout-drawer-title-font-size                : $dfs * 1.2857142857 !default; // ~18px
$default-layout-drawer-title-padding-vertical         : $vm * 6 !default;
$default-layout-drawer-title-height                   : $default-layout-header-desktop-height - ($default-layout-drawer-title-padding-vertical * 2);
$default-layout-drawer-button-mobile-size             : $hm * 8 !default; // ~32px
$default-layout-drawer-button-desktop-size            : $hm * 12 !default; // ~48px
$default-layout-drawer-button-margins                 : ($vm * 2.5) ($hm * 3) !default; // ~10px 12px
$default-layout-drawer-transform                      : -$default-layout-drawer-width;
$default-layout-drawer-button-font-size               : inherit;
$default-layout-drawer-button-line-height             : $default-layout-drawer-button-desktop-size / $dlh * 1.625;
$default-layout-drawer-button-screen-threshold-margin : $vm $hm !default; // ~4px
$default-layout-drawer-navigation-padding-top         : $vm * 3 !default; // ~4px
$default-layout-drawer-desktop-padding                : $hm * 4 !default; // ~16px
$default-layout-drawer-mobile-padding                 : $hm * 8 !default; // ~32px
// Drawer Title
$default-layout-drawer-title-border-bottom            : $vm * 0.25 !default; // ~1px
$default-layout-drawer-title-image-title-top          : $vm * 4 !default; // ~16px
$default-layout-drawer-title-image-max-width          : $hm * 38 !default; // ~152px
$default-layout-drawer-title-image-max-height         : $hm * 10 !default; // ~40px
// Drawer User
$default-layout-drawer-user-padding                   : ($vm * 4) 0 ($vm * 3) 0; // ~16px 0 12px 0
$default-layout-drawer-user-margin-bottom             : $vm; // ~4px
$default-layout-drawer-user-border-bottom             : $vm * 0.25 !default; // ~1px
$default-layout-drawer-user-avatar-width              : $hm * 12.5; // ~50px;
$default-layout-drawer-user-avatar-height             : $vm * 12.5; // ~50px;
$default-layout-drawer-user-avatar-margin             : 0 $hm $vm ($hm * 3); // ~0 4px 4px 12px
$default-layout-drawer-user-avatar-mask-width         : $hm * 13; // ~50px;
$default-layout-drawer-user-avatar-mask-height        : $vm * 13; // ~50px;
$default-layout-drawer-user-avatar-mask-hover-top     : $vm * 3; // ~12px;
$default-layout-drawer-user-avatar-mask-hover-left    : $hm * 3; // ~12px;
$default-layout-drawer-user-avatar-mask-hover-width   : $hm * 5; // ~20px;
$default-layout-drawer-user-avatar-mask-hover-height  : $vm * 5; // ~20px;
$default-layout-drawer-user-avatar-mask-hover-padding : $hm * 0.5; // ~2px;
$default-layout-drawer-user-avatar-mask-hover-font-size : $dfs * 1.7142857143; // ~24px;
$default-layout-drawer-user-avatar-image-width        : $hm * 12; // ~48px
$default-layout-drawer-user-avatar-image-height       : $vm * 12; // ~48px
$default-layout-drawer-user-info-width                : $hm * 37; // ~148px
$default-layout-drawer-user-info-padding              : ($vm * 2) 0 $vm ($hm * 2); // ~8px 0 4px 8px
$default-layout-drawer-user-info-name-width           : $hm * 35; // ~140px
$default-layout-drawer-user-info-name-font-size       : $dfs * 1.14285714297; // ~16px
$default-layout-drawer-user-info-name-line-height     : $dlh; // ~20px
$default-layout-drawer-user-info-name-padding         : 0 0 $vm ($hm * 0.5); // ~ 0 0 4px 2px
$default-layout-drawer-user-info-contact-width        : $hm * 35; // ~140px
$default-layout-drawer-user-info-contact-padding      : 0 0 ($vm * 0.5) $hm; // ~ 0 0 2px 4px
$default-layout-drawer-user-info-contact-font-size    : $dfs * 0.8571428571; // ~12px
$default-layout-drawer-user-info-contact-line-height  : $default-layout-drawer-user-info-name-line-height;
$default-layout-drawer-user-info-actions-min-height   : $vm * 4; // ~ 16px
$default-layout-drawer-user-info-actions-margin       : $vm 0; // ~ 4px 0
$default-layout-drawer-user-info-actions-font-size    : $dfs * 0.9285714286; // ~13px
$default-layout-drawer-user-info-actions-li-margin    : 0 ($hm * 4) 0 0; // ~ 0 16px 0 0
$default-layout-drawer-user-info-actions-link-height  : $vm * 5; // ~ 20px
$default-layout-drawer-user-info-actions-link-padding : 0 0 0 ($hm * 5); // ~ 0 0 0 20px
$default-layout-drawer-user-info-actions-icon-top     : $vm * 0.25 !default; // ~ 1px
$default-layout-drawer-user-info-actions-icon-font-size : $dfs * 1.1428571429; // ~ 16px
$default-layout-drawer-user-info-actions-p-font-size  : $dfs * 1.1428571429; // ~ 16px
$default-layout-drawer-navigation-link-width          : $hm * 5; // ~ 20px
$default-layout-drawer-navigation-link-height         : $vm * 5; // ~ 20px
$default-layout-drawer-navigation-link-font-size      : $dfs * 0.7; // ~ 20px
$default-layout-drawer-navigation-link-icon-size      : $dfs * 1.5; // ~ 20px
$default-layout-drawer-navigation-link-margin         : 0 ($vm * 4) 0 0; // ~ 0 16px 0 0

// Footer
$default-layout-footer-title                          : $hm * 5; // ~20px
$default-layout-footer-padding                        : $hm * 4 !default; // ~16px
$default-layout-footer-heading-font-size              : $dfs * 1.7142857143 !default; // ~24px
$default-layout-footer-heading-line-height            : $dlh !default;
$default-layout-footer-button-size                    : $hm * 4 !default; // ~36px


// Z-index
$default-layout-header-zindex                         : $z-layout-header;
$default-layout-obfuscator-zindex                     : $z-layout-obfuscator;
$default-layout-drawer-zindex                         : $z-layout-drawer;
$default-layout-content-zindex                        : $z-layout-content;
