<div class="sn-layout__drawer" id="sidebar">
  <span class="sn-layout-title">
    <a href="/">
      <i class="sn-icon sn-icon__supernova--brand sn-presentation-brand"></i>
    </a>
  </span>
  <nav class="sn-navigation">
    <a class="sn-navigation__link js-current-nav" href="/globals/layout">Layout</a>
    <a class="sn-navigation__link js-current-nav" href="/globals/grid">Grid</a>
    <a class="sn-navigation__link js-current-nav" href="/globals/typography">Typography</a>
    <a class="sn-navigation__link js-current-nav" href="/globals/colors">Colors</a>
    <a class="sn-navigation__link js-current-nav" href="/globals/customizable_file">Customizable File</a>
    <a class="sn-navigation__link js-current-nav" href="/globals/custom_components">Custom Components</a>
    <a class="sn-navigation__link" href="../index.html">Presentation</a>
  </nav>
</div>

<div class="sn-layout__obfuscator"></div>