<% layout('./../../layout') -%>

<% include _globals_menu %>

<!-- Header -->
<header class="sn-layout__header">
  <div aria-expanded="false" role="button" tabindex="0" class="sn-layout__drawer-button">
    <i class="material-icons"></i>
  </div>
  <div class="sn-layout__header-row">
    <!-- Title -->
    <span class="sn-layout-title">Grid</span>
  </div>
</header>

<!-- Content -->
<main class="sn-layout__content">

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-top sn-grid--bleed">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Basic Grid</span>
    </div>
  </div>
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed-all sn-grid--cell-gutter">
    <div class="sn-cell--1 sn-presentation-grid-cell">sn-cell--1</div>
    <div class="sn-cell--2 sn-presentation-grid-cell">sn-cell--2</div>
    <div class="sn-cell--4 sn-presentation-grid-cell">sn-cell--4</div>
    <div class="sn-cell--3 sn-presentation-grid-cell">sn-cell--3</div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed">
    <div class="sn-cell--1">
      <pre class="sn-presentation-pre-panel">
&lt;!--grid container--&gt;
&lt;div class=&quot;sn-grid sn-grid--horizontal sn-grid--bleed-all sn-grid--cell-gutter&quot;&gt;
&lt;!--grid cells--&gt;
&lt;div class=&quot;sn-cell--1&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;sn-cell--2&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;sn-cell--4&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;sn-cell--3&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
      </pre>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-top">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Grid container classes</span>
    </div>
  </div>
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-top">
    <div class="sn-cell--1">
      <span class="sn-typo--headline">Grid</span>
    </div>
  </div>
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed">
    <div class="sn-cell--1">
      <ul class="sn-presentation-list sn-presentantion-list--main">
        <li>sn-grid</li>
      </ul>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-top">
    <div class="sn-cell--1">
      <span class="sn-typo--headline">Horizontal | Vertical | Responsive</span>
    </div>
  </div>
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed">
    <div class="sn-cell--1">
      <ul class="sn-presentation-list sn-presentantion-list--main">
        <li>sn-grid--horizontal</li>
        <li>sn-grid--horizontal-reverse</li>
        <li>sn-grid--vertical</li>
        <li>sn-grid--vertical-reverse</li>
        <li>sn-grid--responsive-mobile-sm</li>
        <li>sn-grid--responsive-mobile-lg</li>
        <li>sn-grid--responsive-tablet-xxsm</li>
        <li>sn-grid--responsive-tablet-xsm</li>
        <li>sn-grid--responsive-tablet-xmd</li>
        <li>sn-grid--responsive-tablet-md</li>
        <li>sn-grid--responsive-tablet-lg</li>
        <li>sn-grid--responsive-screen-xsm</li>
        <li>sn-grid--responsive-screen-sm</li>
        <li>sn-grid--responsive-screen-xmd</li>
        <li>sn-grid--responsive-screen-md</li>
        <li>sn-grid--responsive-screen-lg</li>
      </ul>
    </div>
    <div class="sn-cell--1">
      <ul class="sn-presentation-list">
        <li>Grid horizontal</li>
        <li>Reverse horizontal</li>
        <li>Grid vertical</li>
        <li>Reverse-vertical</li>
        <li>Grid responsive on max-width mobile-small (360px)</li>
        <li>Grid responsive on max-width mobile-large (480px)</li>
        <li>Grid responsive on max-width tablet-xxsmall (560px)</li>
        <li>Grid responsive on max-width tablet-xsmall (600px)</li>
        <li>Grid responsive on max-width tablet-small (640px)</li>
        <li>Grid responsive on max-width tablet-xmedium (768px)</li>
        <li>Grid responsive on max-width tablet-medium (840px)</li>
        <li>Grid responsive on max-width tablet-large (960px)</li>
        <li>Grid responsive on max-width screen-xsmall (992px)</li>
        <li>Grid responsive on max-width screen-small (1024px)</li>
        <li>Grid responsive on max-width screen-medium (1440px)</li>
        <li>Grid responsive on max-width screen-large (1600px)</li>
      </ul>
    </div>
  </div>


  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-top">
    <div class="sn-cell--1">
      <span class="sn-typo--headline">Grid Bleed</span>
    </div>
  </div>
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed">
    <div class="sn-cell--1">
      <ul class="sn-presentation-list sn-presentantion-list--main">
        <li>sn-grid--bleed</li>
        <li>sn-grid--bleed-vertical</li>
        <li>sn-grid--bleed-top</li>
        <li>sn-grid--bleed-bottom</li>
        <li>sn-grid--bleed-all</li>
        <li>sn-grid--bleed-sm</li>
        <li>sn-grid--bleed-vertical-sm</li>
        <li>sn-grid--bleed-top-sm</li>
        <li>sn-grid--bleed-bottom-sm</li>
        <li>sn-grid--bleed-all-sm</li>
      </ul>
    </div>
    <div class="sn-cell--1">
      <ul class="sn-presentation-list">
        <li>Bleed left and right</li>
        <li>Bleed top and bottom</li>
        <li>Bleed only top</li>
        <li>Bleed only bottom</li>
        <li>Bleed top, left, right and bottom</li>
        <li>Small Bleed left and right</li>
        <li>Small Bleed top and bottom</li>
        <li>Small Bleed only top</li>
        <li>Small Bleed only bottom</li>
        <li>Small Bleed top, left, right and bottom</li>
      </ul>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-top">
    <div class="sn-cell--1">
      <span class="sn-typo--headline">Grid Gutter (for children cells)</span>
    </div>
  </div>
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed">
    <div class="sn-cell--1">
      <ul class="sn-presentation-list sn-presentantion-list--main">
        <li>sn-grid--cell-gutter</li>
        <li>sn-grid--cell-gutter-xs</li>
        <li>sn-grid--cell-gutter-sm</li>
        <li>sn-grid--cell-gutter-lg</li>
      </ul>
    </div>
    <div class="sn-cell--1">
      <ul class="sn-presentation-list">
        <li>Default spacing between cells</li>
        <li>X-small spacing between cells</li>
        <li>Small spacing between cells</li>
        <li>Large spacing between cells</li>
      </ul>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-top">
    <div class="sn-cell--1">
      <span class="sn-typo--headline">Grid Padding (for children cells)</span>
    </div>
  </div>
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed">
    <div class="sn-cell--1">
      <ul class="sn-presentation-list sn-presentantion-list--main">
        <li>sn-grid--cell-padding</li>
        <li>sn-grid--cell-padding-sm</li>
      </ul>
    </div>
    <div class="sn-cell--1">
      <ul class="sn-presentation-list">
        <li>Default cell padding</li>
        <li>Small cell padding</li>
      </ul>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-top">
    <div class="sn-cell--1">
      <span class="sn-typo--headline">Grid Wrap (for children cells)</span>
    </div>
  </div>
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed">
    <div class="sn-cell--1">
      <ul class="sn-presentation-list sn-presentantion-list--main">
        <li>sn-grid--cell-wrap</li>
        <li>sn-grid--cell-wrap-inverse</li>
        <li>sn-grid--cell-nowrap</li>
      </ul>
    </div>
    <div class="sn-cell--1">
      <ul class="sn-presentation-list">
        <li>Cell automatic wrap</li>
        <li>Cell wrap inverse</li>
        <li>No Wrap</li>
      </ul>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-top">
    <div class="sn-cell--1">
      <span class="sn-typo--headline">Grid align children cells</span>
    </div>
  </div>
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed">
    <div class="sn-cell--1">
      <ul class="sn-presentation-list sn-presentantion-list--main">
        <li>JUSTIFY</li>
        <li>sn-grid--justify-left</li>
        <li>sn-grid--justify-right</li>
        <li>sn-grid--justify-top</li>
        <li>sn-grid--justify-bottom</li>
        <li>sn-grid--justify-center</li>
        <li>sn-grid--justify-between</li>
        <li>sn-grid--justify-around</li>
        <li>ALIGN</li>
        <li>sn-grid--align-start</li>
        <li>sn-grid--align-end</li>
        <li>sn-grid--align-center</li>
        <li>sn-grid--align-stretch</li>
        <li>sn-grid--align-baseline</li>
        <li>CONTENT (only for 2 or more cell lines)</li>
        <li>sn-grid--content-start</li>
        <li>sn-grid--content-end</li>
        <li>sn-grid--content-center</li>
        <li>sn-grid--content-stretch</li>
        <li>sn-grid--content-between</li>
        <li>sn-grid--content-around</li>
      </ul>
    </div>
    <div class="sn-cell--1">
      <ul class="sn-presentation-list">
        <li>--</li>
        <li>Justify on left (grid horizontal/responsive)</li>
        <li>Justify on right (grid horizontal/responsive)</li>
        <li>Justify on top (grid vertical)</li>
        <li>Justify on bottom (vertical)</li>
        <li>Justify on center</li>
        <li>Justify between</li>
        <li>Justify around</li>
        <li>--</li>
        <li>Align start</li>
        <li>Align end</li>
        <li>Align center</li>
        <li>Align stretch</li>
        <li>Align baseline</li>
        <li>--</li>
        <li>Content start</li>
        <li>Content end</li>
        <li>Content center</li>
        <li>Content stretch</li>
        <li>Content between</li>
        <li>Content around</li>
      </ul>
    </div>
  </div>


  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-top">
    <div class="sn-cell--1">
      <span class="sn-typo--display-1">Cell classes (grid childrens)</span>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-top">
    <div class="sn-cell--1">
      <span class="sn-typo--headline">Cells sizes</span>
    </div>
  </div>
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed">
    <div class="sn-cell--1">
      <ul class="sn-presentation-list sn-presentantion-list--main">
        <li>sn-cell--1</li>
        <li>sn-cell--2</li>
        <li>sn-cell--3</li>
        <li>sn-cell--4</li>
        <li>sn-cell--5</li>
        <li>sn-cell--6</li>
        <li>sn-cell--7</li>
        <li>sn-cell--8</li>
        <li>sn-cell--9</li>
        <li>sn-cell--10</li>
        <li>sn-cell--11</li>
        <li>sn-cell--12</li>
        <li>--</li>
        <li>sn-cell--fixed</li>
        <li>sn-cell--grow</li>
        <li>sn-cell--shrink</li>
        <li>sn-cell--auto</li>
        <li>sn-cell--auto-responsive</li>
        <li>--</li>
        <li>sn-cell--10perc</li>
        <li>sn-cell--20perc</li>
        <li>sn-cell--30perc</li>
        <li>sn-cell--40perc</li>
        <li>sn-cell--50perc</li>
        <li>sn-cell--60perc</li>
        <li>sn-cell--70perc</li>
        <li>sn-cell--80perc</li>
        <li>sn-cell--90perc</li>
        <li>--</li>
        <li>sn-cell--1expo</li>
        <li>sn-cell--2expo</li>
        <li>sn-cell--3expo</li>
        <li>sn-cell--4expo</li>
        <li>sn-cell--5expo</li>
        <li>sn-cell--6expo</li>
        <li>sn-cell--7expo</li>
        <li>sn-cell--8expo</li>
        <li>sn-cell--9expo</li>
      </ul>
    </div>
    <div class="sn-cell--1">
      <ul class="sn-presentation-list">
        <li>Cell size 1</li>
        <li>Cell size 2</li>
        <li>Cell size 3</li>
        <li>Cell size 4</li>
        <li>Cell size 5</li>
        <li>Cell size 6</li>
        <li>Cell size 7</li>
        <li>Cell size 8</li>
        <li>Cell size 9</li>
        <li>Cell size 10</li>
        <li>Cell size 11</li>
        <li>Cell size 12</li>
        <li>--</li>
        <li>Cell flex 1,1,auto</li>
        <li>Cell only grow</li>
        <li>Cell only shrink</li>
        <li>Cell flex 0,0,auto</li>
        <li>Cell flex 0,0,auto and flex 0,0,auto (when tablet-xmedium)</li>
        <li>--</li>
        <li>Cell 10% size</li>
        <li>Cell 20% size</li>
        <li>Cell 30% size</li>
        <li>Cell 40% size</li>
        <li>Cell 50% size</li>
        <li>Cell 60% size</li>
        <li>Cell 70% size</li>
        <li>Cell 80% size</li>
        <li>Cell 90% size</li>
        <li>--</li>
        <li>Cell 1 exponential size</li>
        <li>Cell 2 exponential size</li>
        <li>Cell 3 exponential size</li>
        <li>Cell 4 exponential size</li>
        <li>Cell 5 exponential size</li>
        <li>Cell 6 exponential size</li>
        <li>Cell 7 exponential size</li>
        <li>Cell 8 exponential size</li>
        <li>Cell 9 exponential size</li>
      </ul>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-top">
    <div class="sn-cell--1">
      <span class="sn-typo--headline">Cells orders</span>
    </div>
  </div>
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed">
    <div class="sn-cell--1">
      <ul class="sn-presentation-list sn-presentantion-list--main">
        <li>sn-cell--order-1</li>
        <li>sn-cell--order-2</li>
        <li>sn-cell--order-3</li>
        <li>sn-cell--order-4</li>
        <li>sn-cell--order-5</li>
        <li>sn-cell--order-6</li>
        <li>sn-cell--order-7</li>
        <li>sn-cell--order-8</li>
        <li>sn-cell--order-9</li>
        <li>sn-cell--order-10</li>
        <li>sn-cell--order-11</li>
        <li>sn-cell--order-12</li>
      </ul>
    </div>
    <div class="sn-cell--1">
      <ul class="sn-presentation-list">
        <li>Cell order 1</li>
        <li>Cell order 2</li>
        <li>Cell order 3</li>
        <li>Cell order 4</li>
        <li>Cell order 5</li>
        <li>Cell order 6</li>
        <li>Cell order 7</li>
        <li>Cell order 8</li>
        <li>Cell order 9</li>
        <li>Cell order 10</li>
        <li>Cell order 11</li>
        <li>Cell order 12</li>
      </ul>
    </div>
  </div>


  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-top">
    <div class="sn-cell--1">
      <span class="sn-typo--headline">Cell item align</span>
    </div>
  </div>
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed">
    <div class="sn-cell--1">
      <ul class="sn-presentation-list sn-presentantion-list--main">
        <li>sn-cell--item-auto</li>
        <li>sn-cell--item-start</li>
        <li>sn-cell--item-end</li>
        <li>sn-cell--item-center</li>
        <li>sn-cell--item-stretch</li>
        <li>sn-cell--item-baseline</li>
      </ul>
    </div>
    <div class="sn-cell--1">
      <ul class="sn-presentation-list">
        <li>Cell item align auto</li>
        <li>Cell item align start</li>
        <li>Cell item align end</li>
        <li>Cell item align center</li>
        <li>Cell item align stretch</li>
        <li>Cell item align baseline</li>
      </ul>
    </div>
  </div>


  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-top">
    <div class="sn-cell--1">
      <span class="sn-typo--headline">Cell content align</span>
    </div>
  </div>
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed">
    <div class="sn-cell--1">
      <ul class="sn-presentation-list sn-presentantion-list--main">
        <li>sn-cell--text-left</li>
        <li>sn-cell--text-right</li>
        <li>sn-cell--text-center</li>
        <li>sn-cell--text-responsive-center</li>
        <li>sn-cell--text-justify</li>
      </ul>
    </div>
    <div class="sn-cell--1">
      <ul class="sn-presentation-list">
        <li>Cell text align left</li>
        <li>Cell text align right</li>
        <li>Cell text align center</li>
        <li>Cell text align responsive-center (on tablet-xmedium size)</li>
        <li>Cell text align justify</li>
      </ul>
    </div>
  </div>

  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-top">
    <div class="sn-cell--1">
      <span class="sn-typo--headline">Cell content Wrap, White-space and Ellipsis</span>
    </div>
  </div>
  <div class="sn-grid sn-grid--horizontal sn-grid--bleed sn-grid--bleed-bottom">
    <div class="sn-cell--1">
      <ul class="sn-presentation-list sn-presentantion-list--main">
        <li>sn-cell--word-wrap</li>
        <li>sn-cell--white-space</li>
        <li>sn-cell--ellipsis</li>
      </ul>
    </div>
    <div class="sn-cell--1">
      <ul class="sn-presentation-list">
        <li>Cell break word</li>
        <li>Cell pre-wrap</li>
        <li>Cell ellipsis text</li>
      </ul>
    </div>
  </div>


</main>